Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check yaml files
      - id: debug-statements
        name: Check for debugger imports and breakpoint() calls
      - id: check-toml
        name: Check toml files
      - id: check-added-large-files
        name: Check large files

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        name: Validate commit messages
        stages: [commit-msg]
        additional_dependencies:
          - '@open-turo/commitlint-config-conventional'

  - repo: local
    hooks:
      - id: mypy
        name: Linting with mypy
        entry: |
          bash -c '
          cd backend &&
          poetry run mypy . --strict
          '
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: ruff
        name: Linting with ruff
        entry: |
          bash -c '
          cd backend &&
          poetry run ruff check . --fix &&
          poetry run ruff format .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: docformatter
        name: Linting with docformatter
        entry: |
          bash -c '
          cd backend &&
          poetry run docformatter .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: prettier
        name: Linting with prettier
        entry: |
          bash -c '
          cd frontend &&
          yarn exec prettier . --write'
        language: system
        files: \.(ts|tsx|mjs|html|json)$

  - repo: local
    hooks:
      - id: eslint
        name: Linting with eslint
        entry: |
          bash -c '
          cd frontend &&
          yarn eslint . --fix'
        language: system
        files: \.(ts|tsx|mjs|html)$

chore: bump version to 0.1.0-alpha.25 and update localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: update process flow in manage.sh to improve production/dev dependency management
  manage.sh
Due: none

feat: swap compile and migration steps in manage.sh for improved clarity
  manage.sh
Due: none

feat: add support for token retrieval via query params in authentication flow
  backend/src/one_public_api/core/extensions.py
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

feat: add attachment management APIs
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/managements/__init__.py
  backend/src/one_public_api/common/managements/file_manager.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/common/utility/files.py
  backend/src/one_public_api/crud/data_creator.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/attachment_model.py
  backend/src/one_public_api/routers/attachment_router.py
  backend/src/one_public_api/schemas/attachment_schema.py
  backend/src/one_public_api/services/attachment_service.py
  backend/src/one_public_api/services/authenticate_service.py
  backend/src/one_public_api/services/base_service.py
Due: mypy, ruff, docformatter

feat: enhance attachment handling with preview functionality and authentication checks
  .env
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/models/system/attachment_model.py
  backend/src/one_public_api/routers/attachment_router.py
  backend/src/one_public_api/schemas/attachment_schema.py
  backend/src/one_public_api/services/attachment_service.py
  backend/src/one_public_api/services/base_service.py
Due: mypy, ruff, docformatter

feat: implement attachment management UI and file upload support
  frontend/package.json
  frontend/src/common/components/modules/data-detail.tsx
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/file-previewer.tsx
  frontend/src/common/components/modules/file-upload.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/types/data.d.ts
  frontend/src/features/attachments/add-page.tsx
  frontend/src/features/attachments/detail-columns.ts
  frontend/src/features/attachments/detail-page.tsx
  frontend/src/features/attachments/form-items.ts
  frontend/src/features/attachments/list-columns.ts
  frontend/src/features/attachments/list-page.tsx
  frontend/src/features/attachments/types/attachment.d.ts
  frontend/src/features/attachments/update-page.tsx
  frontend/src/lib/functions.ts
  frontend/src/lib/http.ts
  frontend/src/lib/utils.ts
  frontend/src/templates/menu.tsx
  frontend/yarn.lock
Due: prettier, eslint

feat: update localization files to include new keys for attachments and download options
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier

refactor: centralize Field keyword arguments for mixin models
  backend/src/one_public_api/models/mixins/address_mixin.py
  backend/src/one_public_api/models/mixins/belong_to_mixin.py
  backend/src/one_public_api/models/mixins/id_mixin.py
  backend/src/one_public_api/models/mixins/maintenance_mixin.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
Due: mypy, ruff, docformatter

feat: enrich feature metadata in `init_data` with authentication and status flags
  backend/src/one_public_api/common/init_data.py
Due: mypy, ruff, docformatter

feat: improve attachment handling and localization
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/common/utility/files.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/attachment_model.py
  backend/src/one_public_api/routers/attachment_router.py
  backend/src/one_public_api/services/attachment_service.py
Due: mypy, ruff, docformatter

chore: bump version to 0.1.0-alpha.26 in backend and frontend
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: enhance `AttachmentService` with improved ZIP handling and streaming support
  backend/src/one_public_api/routers/attachment_router.py
  backend/src/one_public_api/services/attachment_service.py
Due: mypy, ruff, docformatter

chore: bump version to 0.1.0-alpha.27 in backend and frontend
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

chore: bump version to 0.1.0-alpha.28
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/services/attachment_service.py
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

chore: bump version to 0.1.0-alpha.29
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/services/attachment_service.py
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: add custom cursor component with animated states for click and default actions
  frontend/src/assets/images/cursor-click.gif
  frontend/src/assets/images/cursor-default.gif
  frontend/src/assets/images/cursor-loading.gif
  frontend/src/assets/images/cursor-select.gif
  frontend/src/common/components/atoms/cursor.tsx
Due: prettier, eslint

chore: update dependencies and refactor yarn.lock
  frontend/package.json
  frontend/src/common/components/ui/drawer.tsx
  frontend/yarn.lock
Due: prettier, eslint

feat: introduce color system and add developer palette panel
  frontend/src/App.tsx
  frontend/src/assets/images/rui-back.gif
  frontend/src/common/components/modules/develop-panel.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/index.css
  frontend/src/styles/develop-panel.css
Due: prettier, eslint

chore: update dependencies in yarn.lock to include latest Radix UI components
  frontend/package.json
  frontend/src/common/components/ui/progress.tsx
  frontend/yarn.lock
Due: prettier, eslint

feat: update logo component and assets for improved theming and accessibility
  frontend/src/assets/images/logo-dark.svg
  frontend/src/common/components/atoms/logo.tsx
Due: prettier, eslint

feat: enhance UI components with improved theming and file upload functionality
  frontend/src/common/components/atoms/side-menu.tsx
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/file-upload.tsx
  frontend/src/common/components/modules/nav-user.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/features/attachments/list-columns.ts
  frontend/src/features/attachments/list-page.tsx
  frontend/src/features/features/list-columns.ts
  frontend/src/features/users/list-columns.ts
  frontend/src/index.css
Due: prettier, eslint

feat: update boolean icon styles and introduce drag-and-drop file upload
  frontend/src/common/components/modules/file-upload.tsx
  frontend/src/features/attachments/detail-columns.ts
  frontend/src/features/features/detail-columns.ts
  frontend/src/features/users/detail-columns.ts
Due: prettier, eslint

refactor: extract field args into reusable constants for models
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/mixins/belong_to_mixin.py
  backend/src/one_public_api/models/system/action_model.py
  backend/src/one_public_api/models/system/attachment_model.py
  backend/src/one_public_api/models/system/category_model.py
  backend/src/one_public_api/models/system/comment_model.py
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/feature_model.py
  backend/src/one_public_api/models/system/notification_model.py
  backend/src/one_public_api/models/system/organization_model.py
  backend/src/one_public_api/models/system/permission_model.py
  backend/src/one_public_api/models/system/role_model.py
  backend/src/one_public_api/models/system/token_model.py
Due: mypy, ruff, docformatter

feat: add reusable `key` fields to models and improve localization handling
  backend/src/one_public_api/common/init_data.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/action_model.py
  backend/src/one_public_api/models/system/feature_model.py
  backend/src/one_public_api/models/system/permission_model.py
  backend/src/one_public_api/models/system/role_model.py
  backend/src/one_public_api/routers/base_route.py
  backend/src/one_public_api/schemas/action_schema.py
  backend/src/one_public_api/schemas/attachment_schema.py
  backend/src/one_public_api/schemas/permission_schema.py
  frontend/src/common/components/modules/data-detail.tsx
  frontend/src/features/attachments/detail-columns.ts
  frontend/src/lib/functions.ts
  frontend/src/lib/utils.ts
  frontend/src/styles/develop-panel.css
  manage.sh
Due: mypy, ruff, docformatter, prettier, eslint

chore: bump version to 0.1.0-alpha.30
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

chore: bump version to 0.1.0-alpha.31
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
  frontend/src/common/components/modules/develop-panel.tsx
  frontend/src/features/features/list-columns.ts
  frontend/src/features/features/types/feature.d.ts
  frontend/src/index.css
  frontend/src/styles/develop-panel.css
Due: mypy, ruff, docformatter, prettier, eslint

refactor: update field argument constants and localization metadata
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/init_data.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/mixins/belong_to_mixin.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/base_schema.py
  backend/src/one_public_api/services/authenticate_service.py
  backend/src/one_public_api/services/user_service.py
  frontend/src/features/features/detail-columns.ts
  frontend/src/features/features/form-items.ts
  frontend/src/features/features/list-columns.ts
  frontend/src/features/users/detail-columns.ts
  frontend/src/features/users/form-items.ts
  frontend/src/features/users/list-columns.ts
  frontend/src/features/users/types/user.d.ts
  frontend/src/index.css
  frontend/src/locales/ja.json
Due: mypy, ruff, docformatter, prettier, eslint

chore: update localization files and refactor `OrganizationModel` relationships
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/organization_model.py
Due: mypy, ruff, docformatter

feat: add `Category` management with public and admin APIs
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/category_model.py
  backend/src/one_public_api/routers/category_router.py
  backend/src/one_public_api/schemas/category_schema.py
  backend/src/one_public_api/services/base_service.py
  backend/src/one_public_api/services/category_service.py
Due: mypy, ruff, docformatter

chore: switch font files to woff2 format for improved performance and compatibility
  .pre-commit-config.yaml
  frontend/src/assets/fonts/DESIGNER.otf
  frontend/src/assets/fonts/DESIGNER.woff2
  frontend/src/assets/fonts/MADE-TOMMY-Light_PERSONAL-USE.otf
  frontend/src/assets/fonts/MADE-TOMMY-Light_PERSONAL-USE.woff2
  frontend/src/assets/fonts/MADE-TOMMY-Medium_PERSONAL-USE.otf
  frontend/src/assets/fonts/MADE-TOMMY-Medium_PERSONAL-USE.woff2
  frontend/src/assets/fonts/SenseFont1.0-Regular.ttf
  frontend/src/assets/fonts/SenseFont1.0-Regular.woff2
  frontend/src/assets/fonts/rounded-x-mplus-2m-light.ttf
  frontend/src/assets/fonts/rounded-x-mplus-2m-light.woff2
  frontend/src/assets/fonts/rounded-x-mplus-2m-medium.ttf
  frontend/src/assets/fonts/rounded-x-mplus-2m-medium.woff2
  frontend/src/index.css
Due: none

chore: enable large file check in pre-commit config
  .pre-commit-config.yaml
Due: none

chore: update dependencies and optimize build configuration for production
  frontend/package.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

refactor: remove unused `min_length` field argument from `CATEGORY_NAME_FIELD_KWARGS`
  backend/src/one_public_api/models/system/category_model.py
Due: mypy, ruff, docformatter

feat: add `parent` field to `Category` schema and update localizations
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/category_model.py
  backend/src/one_public_api/schemas/category_schema.py
Due: mypy, ruff, docformatter

feat: implement category management in frontend
  frontend/src/common/components/atoms/side-menu.tsx
  frontend/src/common/components/modules/data-detail.tsx
  frontend/src/common/components/modules/nav-user.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/types/data.d.ts
  frontend/src/features/attachments/detail-columns.ts
  frontend/src/features/attachments/form-items.ts
  frontend/src/features/attachments/list-columns.ts
  frontend/src/features/categories/add-page.tsx
  frontend/src/features/categories/detail-columns.ts
  frontend/src/features/categories/detail-page.tsx
  frontend/src/features/categories/form-items.ts
  frontend/src/features/categories/list-columns.ts
  frontend/src/features/categories/list-page.tsx
  frontend/src/features/categories/types/category.d.ts
  frontend/src/features/categories/update-page.tsx
  frontend/src/index.css
  frontend/src/lib/functions.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
  frontend/src/styles/develop-panel.css
  frontend/src/templates/menu.tsx
Due: prettier, eslint

refactor: update selection styling and introduce reusable `opf-container` class
  frontend/src/common/components/modules/footer.tsx
  frontend/src/index.css
Due: prettier, eslint

chore: bump version to `0.1.0-alpha.32` and update localization metadata
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

chore: bump version to `0.1.0-alpha.33` and update localization metadata
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/organization_model.py
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: add support for attachment thumbnails
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/models/system/attachment_model.py
  backend/src/one_public_api/routers/attachment_router.py
  backend/src/one_public_api/schemas/attachment_schema.py
  backend/src/one_public_api/services/attachment_service.py
Due: mypy, ruff, docformatter
