Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check yaml files
      - id: debug-statements
        name: Check for debugger imports and breakpoint() calls
      - id: check-toml
        name: Check toml files
      - id: check-added-large-files
        name: Check large files

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        name: Validate commit messages
        stages: [commit-msg]
        additional_dependencies:
          - '@open-turo/commitlint-config-conventional'

  - repo: local
    hooks:
      - id: mypy
        name: Linting with mypy
        entry: |
          bash -c '
          cd backend &&
          poetry run mypy . --strict
          '
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: ruff
        name: Linting with ruff
        entry: |
          bash -c '
          cd backend &&
          poetry run ruff check . --fix &&
          poetry run ruff format .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: docformatter
        name: Linting with docformatter
        entry: |
          bash -c '
          cd backend &&
          poetry run docformatter .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: prettier
        name: Linting with prettier
        entry: |
          bash -c '
          cd frontend &&
          yarn exec prettier . --write'
        language: system
        files: \.(ts|tsx|mjs|html|json)$

  - repo: local
    hooks:
      - id: eslint
        name: Linting with eslint
        entry: |
          bash -c '
          cd frontend &&
          yarn eslint . --fix'
        language: system
        files: \.(ts|tsx|mjs|html)$

refactor: export `Action` and `DataColumn` types from `type-shim.ts`
  frontend/src/common/types/type-shim.ts
  frontend/src/features/users/list-page.tsx
Due: prettier, eslint

feat: add feature list route and page to admin router
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/common/components/modules/edit-form-generator.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/types/props.d.ts
  frontend/src/common/types/type-shim.ts
  frontend/src/features/features/list-columns.ts
  frontend/src/features/features/list-page.tsx
  frontend/src/features/features/types/feature.d.ts
  frontend/src/features/users/types/user.d.ts
  frontend/src/index.ts
  frontend/src/locales/ja.json
  frontend/src/templates/menu.tsx
Due: prettier, eslint

feat: integrate error boundary with fallback error page and update error handling styles
  frontend/src/App.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/index.css
  frontend/yarn.lock
Due: prettier, eslint

refactor: remove unused `getLocalMessage` import and usage, update dependencies
  frontend/package.json
  frontend/src/common/pages/home-page.tsx
Due: prettier, eslint

fix: make `error` prop optional in `ErrorPage` component
  frontend/src/common/pages/error-page.tsx
Due: prettier, eslint

refactor: improve styling and simplify components, add dynamic logo animation
  frontend/src/App.tsx
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/common/components/modules/data-list-generator.tsx
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-skeleton.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/index.css
Due: prettier, eslint

refactor: standardize and simplify i18n keys and labels across features
  frontend/src/features/features/list-columns.ts
  frontend/src/features/users/detail-columns.ts
  frontend/src/features/users/form-items.ts
  frontend/src/features/users/list-columns.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: add feature detail route and page to admin router, update i18n and details module
  frontend/src/common/components/modules/data-detail.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/features/features/detail-columns.ts
  frontend/src/features/features/detail-page.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: add Markdown rendering with syntax highlighting to data-detail component
  frontend/package.json
  frontend/src/common/components/modules/data-detail.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/features/features/detail-columns.ts
  frontend/yarn.lock
Due: prettier, eslint

refactor: centralize action handling in `DataList` and remove redundant navigation logic
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/common/types/props.d.ts
  frontend/src/features/features/list-columns.ts
  frontend/src/features/features/list-page.tsx
  frontend/src/features/users/list-columns.ts
  frontend/src/features/users/list-page.tsx
Due: prettier, eslint

fix: update type casting for action click handler to ensure type safety
  frontend/src/common/components/modules/data-list-generator.tsx
Due: prettier, eslint

feat: add edit feature functionality
  backend/src/one_public_api/schemas/feature_schema.py
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/features/features/add-page.tsx
  frontend/src/features/features/detail-columns.ts
  frontend/src/features/features/form-items.ts
  frontend/src/features/features/list-columns.ts
  frontend/src/features/features/list-page.tsx
  frontend/src/features/features/types/feature.d.ts
  frontend/src/features/features/update-page.tsx
  frontend/src/features/users/list-page.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: mypy, ruff, docformatter, prettier, eslint

fix: handle `NoResultFound` exception in authenticate_service
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

chore: increase `DB_MAX_LIMIT` from 100 to 1000 in constants
  backend/src/one_public_api/common/constants.py
Due: mypy, ruff, docformatter

chore: bump version to 0.1.0-alpha.13 and update locale files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

refactor: update notification and user relationships
  .env
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/links/notification_user_link.py
  backend/src/one_public_api/models/system/notification_model.py
  backend/src/one_public_api/models/system/user_model.py
Due: mypy, ruff, docformatter

chore: bump version to 0.1.0-alpha.14 and update locale files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: add support for dynamic filters in QueryParam
  .env
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/query_param.py
  backend/src/one_public_api/core/exceptions.py
  backend/src/one_public_api/crud/data_reader.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/services/base_service.py
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

fix: #84 update language parsing to support additional delimiters
  backend/src/one_public_api/core/i18n.py
Due: mypy, ruff, docformatter

chore: refine Japanese translations for consistency and clarity across locale files
  backend/src/one_public_api/common/query_param.py
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/main.py
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
  backend/src/one_public_api/models/system/attachment_model.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/routers/configuration_router.py
  backend/src/one_public_api/schemas/response_schema.py
Due: mypy, ruff, docformatter

feat: enhance filtering and sorting in data tables and update localization files
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/src/common/components/modules/data-list-generator.tsx
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/common/types/props.d.ts
  frontend/src/features/features/list-columns.ts
  frontend/src/features/features/list-page.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: update sorting logic and improve translations across locales
  backend/src/one_public_api/crud/data_reader.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
Due: mypy, ruff, docformatter

feat: replace font file with lighter variant and update column color scheme
  frontend/src/assets/fonts/MADE-TOMMY-Light_PERSONAL-USE.otf
  frontend/src/assets/fonts/MADE-TOMMY-Regular_PERSONAL-USE.otf
  frontend/src/assets/fonts/MADE-TOMMY-Thin_PERSONAL-USE.otf
  frontend/src/features/features/list-columns.ts
  frontend/src/index.css
Due: prettier, eslint

feat: add items-per-page selector to data pagination and update locale files
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-pagination.tsx
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: add validation messages for login fields
  .pre-commit-config.yaml
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/src/common/components/atoms/password.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: set user language from browser defaults and add fallback logic
  frontend/src/common/app-slice.ts
  frontend/src/lib/functions.ts
Due: prettier, eslint

feat: use browser language fallback and refine validation messages
  frontend/src/common/app-slice.ts
  frontend/src/features/users/form-items.ts
Due: prettier, eslint

feat: add 'Empty' UI component, enhance data list handling, and update locales
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-pagination.tsx
  frontend/src/common/components/ui/empty.tsx
  frontend/src/common/types/props.d.ts
  frontend/src/features/features/list-page.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: refine localization, enhance placeholders, and improve imports
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-pagination.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: enhance sorting and filtering logic
  frontend/src/common/components/modules/data-list-generator.tsx
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/lib/functions.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: add 'Clear' button localization, improve data handling
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/features/users/list-columns.ts
  frontend/src/features/users/list-page.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

fix: enhance sorting logic with camelCase conversion and cleanup unused comments
  frontend/src/common/components/modules/data-list.tsx
Due: prettier, eslint

feat: enhance user form validation, update localization, and improve table filtering
  frontend/src/common/types/data.d.ts
  frontend/src/features/users/form-items.ts
  frontend/src/features/users/list-columns.ts
  frontend/src/features/users/list-page.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: add 'Unselect All' functionality, update table row handling, and refine locales
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-pagination.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/index.css
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: refine validation rules, update placeholders, and enhance locales
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/features/features/form-items.ts
  frontend/src/features/users/form-items.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

fix: simplify number formatting logic in `formatNumber` function
  frontend/src/lib/utils.ts
Due: prettier, eslint

chore: bump version to 0.1.0-alpha.16 and update locale files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

fix: remove unnecessary file extension in import path for consistency
  frontend/src/common/components/modules/data-list.tsx
Due: prettier, eslint

feat: #89 add `Comment` model and public schema, and update localization files
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/__init__.py
  backend/src/one_public_api/models/system/comment_model.py
  backend/src/one_public_api/schemas/__init__.py
  backend/src/one_public_api/schemas/comment_schema.py
Due: mypy, ruff, docformatter

chore: bump version to 0.1.0-alpha.17 and update localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier
