Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check yaml files
      - id: debug-statements
        name: Check for debugger imports and breakpoint() calls
      - id: check-toml
        name: Check toml files
      - id: check-added-large-files
        name: Check large files

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        name: Validate commit messages
        stages: [commit-msg]
        additional_dependencies:
          - '@open-turo/commitlint-config-conventional'

  - repo: local
    hooks:
      - id: mypy
        name: Linting with mypy
        entry: |
          bash -c '
          cd backend &&
          poetry run mypy . --strict
          '
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: ruff
        name: Linting with ruff
        entry: |
          bash -c '
          cd backend &&
          poetry run ruff check . --fix &&
          poetry run ruff format .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: docformatter
        name: Linting with docformatter
        entry: |
          bash -c '
          cd backend &&
          poetry run docformatter .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: prettier
        name: Linting with prettier
        entry: |
          bash -c '
          cd frontend &&
          yarn exec prettier . --write'
        language: system
        files: \.(ts|tsx|mjs|html|json)$

  - repo: local
    hooks:
      - id: eslint
        name: Linting with eslint
        entry: |
          bash -c '
          cd frontend &&
          yarn eslint . --fix'
        language: system
        files: \.(ts|tsx|mjs|html)$

chore: bump version to `0.1.0-alpha.34` and update localization metadata
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

refactor: remove unused `UTC` import and simplify `timestamp_mixin` field defaults
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

refactor: streamline attachment handling and update constants for media paths
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/routers/attachment_router.py
  backend/src/one_public_api/services/attachment_service.py
Due: mypy, ruff, docformatter

chore: bump version to `0.1.0-alpha.36` and update localization metadata
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

refactor: integrate `MEDIA_PATH` support and replace hardcoded media paths
  .env
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/services/attachment_service.py
Due: mypy, ruff, docformatter

chore: bump version to `0.1.0-alpha.37` across backend, frontend, and config files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: add support for dynamic logo paths via `UI_LOGO_PATH`
  .env
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/index.css
Due: prettier, eslint

refactor: remove unused cursor components and images, add new font and color definitions
  frontend/src/assets/fonts/rounded-x-mplus-2m-light.woff2
  frontend/src/assets/fonts/rounded-x-mplus-2m-medium.woff2
  frontend/src/assets/images/cursor-click.gif
  frontend/src/assets/images/cursor-default.gif
  frontend/src/assets/images/cursor-loading.gif
  frontend/src/assets/images/cursor-select.gif
  frontend/src/assets/images/rui-back.gif
  frontend/src/common/components/atoms/cursor.tsx
  frontend/src/common/components/modules/mouse-stalker.tsx
  frontend/src/styles/colors.css
  frontend/src/styles/fonts.css
Due: prettier, eslint

feat: enhance `getEnv` utility and debug components
  frontend/src/App.tsx
  frontend/src/lib/functions.ts
Due: prettier, eslint

refactor: update dark mode colors and improve logo customization logic
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/common/components/atoms/side-menu.tsx
  frontend/src/common/components/modules/nav-user.tsx
Due: prettier, eslint

refactor: clean up CSS styles and update type annotations in components
  frontend/src/assets/images/logo-dark.svg
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/common/components/atoms/navi-button.tsx
  frontend/src/common/components/atoms/password.tsx
  frontend/src/common/components/atoms/side-menu.tsx
  frontend/src/common/components/atoms/spinner.tsx
  frontend/src/common/components/atoms/text-image.tsx
  frontend/src/common/components/modules/develop-panel.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/components/modules/nav-user.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/index.css
  frontend/src/styles/animations.css
  frontend/src/styles/colors.css
  frontend/src/styles/develop-panel.css
Due: prettier, eslint

refactor: simplify CSS, update layout styles, and improve component consistency
  frontend/src/assets/images/author.png
  frontend/src/common/components/modules/footer.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/index.css
Due: prettier, eslint

refactor: enhance table styles and integrate `Card` and `ScrollArea`
  frontend/src/common/components/atoms/text-image.tsx
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/common/components/modules/footer.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/index.css
Due: prettier, eslint

refactor: unify layout styles with `inner` class and remove unused fonts
  frontend/src/assets/fonts/MADE-TOMMY-Light_PERSONAL-USE.woff2
  frontend/src/assets/fonts/MADE-TOMMY-Medium_PERSONAL-USE.woff2
  frontend/src/assets/fonts/SenseFont1.0-Regular.woff2
  frontend/src/common/pages/error-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/index.css
Due: prettier, eslint

chore: bump version to `0.1.0-alpha.38` across backend, frontend, and localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

chore: bump version to `0.1.0-alpha.39` across backend, frontend, and localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
  frontend/src/index.ts
Due: mypy, ruff, docformatter, prettier, eslint

chore: update localization date formats in `en.json` and `ja.json`
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
Due: prettier

chore: bump version to `0.1.0-alpha.40` across backend, frontend, and localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: support nullable keys in data updater and update services
  backend/src/one_public_api/crud/data_updater.py
  backend/src/one_public_api/routers/category_router.py
  backend/src/one_public_api/services/base_service.py
  backend/src/one_public_api/services/permission_service.py
Due: mypy, ruff, docformatter

feat: enhance category forms and types for parent-child relations
  frontend/src/common/components/modules/edit-form-generator.tsx
  frontend/src/common/components/modules/edit-form.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/features/attachments/detail-columns.ts
  frontend/src/features/attachments/list-columns.ts
  frontend/src/features/categories/add-page.tsx
  frontend/src/features/categories/detail-columns.ts
  frontend/src/features/categories/form-items.ts
  frontend/src/features/categories/list-columns.ts
  frontend/src/features/categories/types/category.d.ts
  frontend/src/features/categories/update-page.tsx
  frontend/src/features/features/detail-columns.ts
  frontend/src/features/features/list-columns.ts
  frontend/src/features/users/detail-columns.ts
  frontend/src/features/users/list-columns.ts
  frontend/src/index.css
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

chore: bump version to `0.1.0-alpha.41` across backend, frontend, and localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

refactor: relocate and update `author.png` to streamline assets path in footer
  frontend/public/images/author.png
  frontend/src/common/components/modules/footer.tsx
Due: prettier, eslint

chore: bump version to `0.1.0-alpha.42` across backend, frontend, and localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: #110 implement SSR product showcase and environment setup
  .env
  .gitignore
  .run/One Public UI (SSR).run.xml
  frontend-ssr/.gitignore
  frontend-ssr/.prettierignore
  frontend-ssr/.prettierrc.yaml
  frontend-ssr/README.md
  frontend-ssr/app/admin-path.ts
  frontend-ssr/app/admin/dashboard/page.tsx
  frontend-ssr/app/favicon.ico
  frontend-ssr/app/globals.css
  frontend-ssr/app/layout.tsx
  frontend-ssr/app/page.tsx
  frontend-ssr/eslint.config.ts
  frontend-ssr/next.config.ts
  frontend-ssr/one-public-ui-0.1.0.tgz
  frontend-ssr/package.json
  frontend-ssr/pnpm-lock.yaml
  frontend-ssr/pnpm-workspace.yaml
  frontend-ssr/postcss.config.mjs
  frontend-ssr/proxy.ts
  frontend-ssr/public/file.svg
  frontend-ssr/public/globe.svg
  frontend-ssr/public/next.svg
  frontend-ssr/public/vercel.svg
  frontend-ssr/public/window.svg
  frontend-ssr/src/admin-shell.tsx
  frontend-ssr/src/core.tsx
  frontend-ssr/src/index.ts
  frontend-ssr/src/locales/en.json
  frontend-ssr/src/locales/ja.json
  frontend-ssr/src/product-site.tsx
  frontend-ssr/src/screens.tsx
  frontend-ssr/src/styles.css
  frontend-ssr/tsconfig.json
  frontend-ssr/tsconfig.package.json
  frontend-ssr/tsup.config.ts
Due: prettier, eslint

fix: handle wildcard language in i18n by defaulting to response language
  backend/src/one_public_api/core/i18n.py
Due: mypy, ruff, docformatter

feat: add designer font to assets
  frontend-ssr/.gitignore
  frontend-ssr/src/assets/fonts/DESIGNER.woff2
Due: none

chore: #110 clean up styles and simplify TypeScript type definitions
  frontend-ssr/pnpm-lock.yaml
  frontend-ssr/proxy.ts
  frontend-ssr/src/common/types/data.d.ts
  frontend-ssr/src/styles/styles.css
Due: prettier, eslint

chore: clean up TopScreen component by removing unused imports and adding debugging log
  frontend-ssr/src/features/site/top-screen.tsx
Due: prettier, eslint

chore: update pre-commit hooks to include Prettier and ESLint tasks for frontend and SSR
  .pre-commit-config.yaml
Due: none

chore: update Prettier script in pre-commit config to remove `--write` flag
  .pre-commit-config.yaml
Due: none

chore: update package.json formatting and adjust Prettier config
  frontend/.prettierrc.yaml
  frontend/package.json
Due: prettier

chore: reformat tsconfig files for consistent JSON style across the project
  frontend/tsconfig.app.json
  frontend/tsconfig.build.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: prettier

feat: implement reusable UI components and login flow
  .env
  frontend-ssr/app/admin/login/page.tsx
  frontend-ssr/components.json
  frontend-ssr/package.json
  frontend-ssr/pnpm-lock.yaml
  frontend-ssr/src/common/constants.ts
  frontend-ssr/src/common/hooks/use-store.ts
  frontend-ssr/src/components/atoms/language.tsx
  frontend-ssr/src/components/atoms/password.tsx
  frontend-ssr/src/components/atoms/spinner.tsx
  frontend-ssr/src/components/molecules/footer.tsx
  frontend-ssr/src/components/molecules/login-form.tsx
  frontend-ssr/src/components/molecules/mode-toggle.tsx
  frontend-ssr/src/components/ui/avatar.tsx
  frontend-ssr/src/components/ui/button-group.tsx
  frontend-ssr/src/components/ui/button.tsx
  frontend-ssr/src/components/ui/card.tsx
  frontend-ssr/src/components/ui/dropdown-menu.tsx
  frontend-ssr/src/components/ui/form.tsx
  frontend-ssr/src/components/ui/input.tsx
  frontend-ssr/src/components/ui/label.tsx
  frontend-ssr/src/components/ui/select.tsx
  frontend-ssr/src/components/ui/separator.tsx
  frontend-ssr/src/features/admin/login/login-screen.tsx
  frontend-ssr/src/features/site/top-screen.tsx
  frontend-ssr/src/lib/utils.ts
  frontend-ssr/src/locales/en.json
  frontend-ssr/src/locales/ja.json
Due: prettier, eslint

feat: #110 Add ScrollArea component with scroll bar integration
  frontend-ssr/src/components/ui/scroll-area.tsx
Due: prettier, eslint

feat: add sidebar, tooltip, and table components with supporting hooks and styles
  frontend-ssr/app/globals.css
  frontend-ssr/package.json
  frontend-ssr/pnpm-lock.yaml
  frontend-ssr/src/components/ui/badge.tsx
  frontend-ssr/src/components/ui/empty.tsx
  frontend-ssr/src/components/ui/sheet.tsx
  frontend-ssr/src/components/ui/sidebar.tsx
  frontend-ssr/src/components/ui/skeleton.tsx
  frontend-ssr/src/components/ui/table.tsx
  frontend-ssr/src/components/ui/tooltip.tsx
  frontend-ssr/src/hooks/use-mobile.ts
Due: prettier, eslint

feat: #110 update dependencies and add new utilities
  frontend-ssr/package.json
  frontend-ssr/pnpm-lock.yaml
Due: prettier

feat: redesign and enhance components with new utilities and functionality
  frontend-ssr/app/admin/features/[id]/page.tsx
  frontend-ssr/app/admin/features/page.tsx
  frontend-ssr/app/admin/layout.tsx
  frontend-ssr/app/admin/page.tsx
  frontend-ssr/app/globals.css
  frontend-ssr/src/admin-shell.tsx
  frontend-ssr/src/common/app-slice.ts
  frontend-ssr/src/common/constants.ts
  frontend-ssr/src/components/atoms/language.tsx
  frontend-ssr/src/components/atoms/navi-button.tsx
  frontend-ssr/src/components/atoms/side-menu.tsx
  frontend-ssr/src/components/molecules/app-sidebar.tsx
  frontend-ssr/src/components/molecules/login-form.tsx
  frontend-ssr/src/components/molecules/nav-user.tsx
  frontend-ssr/src/components/organisms/data-detail.tsx
  frontend-ssr/src/components/organisms/data-list-generator.tsx
  frontend-ssr/src/components/organisms/data-list.tsx
  frontend-ssr/src/components/organisms/data-pagination.tsx
  frontend-ssr/src/components/organisms/data-skeleton.tsx
  frontend-ssr/src/components/organisms/data-tool-bar.tsx
  frontend-ssr/src/components/ui/button.tsx
  frontend-ssr/src/components/ui/checkbox.tsx
  frontend-ssr/src/components/ui/collapsible.tsx
  frontend-ssr/src/components/ui/empty.tsx
  frontend-ssr/src/components/ui/input.tsx
  frontend-ssr/src/components/ui/sheet.tsx
  frontend-ssr/src/components/ui/skeleton.tsx
  frontend-ssr/src/features/admin/attachments/attachment.d.ts
  frontend-ssr/src/features/admin/features/detail-screen.tsx
  frontend-ssr/src/features/admin/features/feature.d.ts
  frontend-ssr/src/features/admin/features/list-screen.tsx
  frontend-ssr/src/hooks/use-mobile.ts
  frontend-ssr/src/lib/client-http.ts
  frontend-ssr/src/lib/client-utils.ts
  frontend-ssr/src/lib/functions.ts
  frontend-ssr/src/lib/utils.ts
  frontend-ssr/src/providers.tsx
  frontend-ssr/src/screens.tsx
Due: prettier, eslint

chore: comment out redundant pre-commit prettier and eslint commands
  .pre-commit-config.yaml
Due: none

feat: add reusable form components and admin feature creation flow
  frontend-ssr/app/admin/features/add/page.tsx
  frontend-ssr/src/common/constants.ts
  frontend-ssr/src/components/organisms/edit-form-generator.tsx
  frontend-ssr/src/components/organisms/edit-form.tsx
  frontend-ssr/src/components/ui/switch.tsx
  frontend-ssr/src/components/ui/textarea.tsx
  frontend-ssr/src/features/admin/features/add-screen.tsx
  frontend-ssr/src/features/admin/features/list-screen.tsx
  frontend-ssr/src/lib/client-utils.ts
  frontend-ssr/src/lib/functions.ts
Due: prettier, eslint
