Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

mypy:
  name: Linting with mypy
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run mypy . --strict
  
    ''
  
    '
  language: system

ruff:
  name: Linting with ruff
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run ruff check . --fix &&
  
    poetry run ruff format .''
  
    '
  language: system

docformatter:
  name: Linting with docformatter
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run docformatter .''
  
    '
  language: system

prettier:
  name: Linting with prettier
  entry: 'bash -c ''
  
    cd frontend &&
  
    yarn exec prettier . --write''
  
    '
  language: system

eslint:
  name: Linting with eslint
  entry: 'bash -c ''
  
    cd frontend &&
  
    yarn eslint . --fix''
  
    '
  language: system

chore: associate `Comment` model with `User`
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/comment_model.py
  backend/src/one_public_api/models/system/user_model.py
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: add optional `builder` parameter in `data_reader` for query customization
  backend/src/one_public_api/crud/data_reader.py
Due: mypy, ruff, docformatter

chore: bump version to 0.1.0-alpha.19 and update localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

fix: handle edge case for filters containing periods in `data_reader`
  backend/src/one_public_api/crud/data_reader.py
Due: mypy, ruff, docformatter

feat: add `permission_router` with public and admin API prefixes
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/routers/permission_router.py
Due: mypy, ruff, docformatter

style: update popover color, adjust admin page layout and form item styles
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/features/features/form-items.ts
  frontend/src/index.css
Due: prettier, eslint

refactor: move asset files to `/images` directory and update imports
  frontend/src/assets/images/logo-dark.png
  frontend/src/assets/images/logo-dark.svg
  frontend/src/assets/images/logo-light.png
  frontend/src/assets/images/logo-light.svg
  frontend/src/assets/images/roba-small.png
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/common/components/modules/footer.tsx
Due: prettier, eslint

feat: introduce `action_router` and `ActionService` with public and admin API support
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/action_model.py
  backend/src/one_public_api/routers/action_router.py
  backend/src/one_public_api/schemas/action_schema.py
  backend/src/one_public_api/services/action_service.py
Due: mypy, ruff, docformatter

refactor: consolidate user field definitions and simplify model relationships
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/user_model.py
Due: mypy, ruff, docformatter

fix: add missing `min_length` and `ge` constraints to `User` model fields
  backend/src/one_public_api/models/system/user_model.py
Due: mypy, ruff, docformatter

feat: add backend test coverage reporting with HTML report generation
  manage.sh
Due: none

refactor: reduce `User` model field max lengths and add tests for validation
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/base_schema.py
  backend/tests/one_public_api/models/__init__.py
  backend/tests/one_public_api/models/system/__init__.py
  backend/tests/one_public_api/models/system/test_user_model.py
Due: mypy, ruff, docformatter

chore: update localization files and adjust line references in `user_model`
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
Due: none

refactor: consolidate user field definitions and enhance validation
  backend/src/one_public_api/models/mixins/belong_to_mixin.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/base_schema.py
  backend/tests/one_public_api/models/system/test_user_model.py
Due: mypy, ruff, docformatter

fix: handle empty keywords in `data_reader` queries to avoid invalid conditions
  backend/src/one_public_api/crud/data_reader.py
Due: mypy, ruff, docformatter

test: simplify test cases for `User` model validation
  backend/tests/one_public_api/models/system/test_user_model.py
Due: mypy, ruff, docformatter

test: simplify and condense validation test cases for `User` model
  backend/tests/one_public_api/models/system/test_user_model.py
Due: mypy, ruff, docformatter

test: remove redundant import in `test_user_model` module
  backend/tests/one_public_api/models/system/test_user_model.py
Due: mypy, ruff, docformatter

refactor: consolidate field definitions, enhance validation, and update localization
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/system/action_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/schemas/action_schema.py
  backend/src/one_public_api/schemas/authenticate_schema.py
Due: mypy, ruff, docformatter

refactor: extend mixin classes with `SQLModel` for improved schema integration
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/mixins/address_mixin.py
  backend/src/one_public_api/models/mixins/belong_to_mixin.py
  backend/src/one_public_api/models/mixins/id_mixin.py
  backend/src/one_public_api/models/mixins/maintenance_mixin.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/tests/one_public_api/models/system/test_user_model.py
Due: mypy, ruff, docformatter

fix: update print message to reflect accurate application process (compile)
  manage.sh
Due: none

refactor: update field names in `example_status` for consistency with naming conventions
  backend/src/one_public_api/schemas/action_schema.py
Due: mypy, ruff, docformatter

feat: implement `PermissionService` and CRUD APIs for managing permissions
  backend/src/one_public_api/models/system/permission_model.py
  backend/src/one_public_api/routers/permission_router.py
  backend/src/one_public_api/schemas/permission_schema.py
  backend/src/one_public_api/services/permission_service.py
Due: mypy, ruff, docformatter

test: reorder imports in `test_user_model` for consistency
  backend/tests/one_public_api/models/system/test_user_model.py
Due: mypy, ruff, docformatter

refactor: improve styling flexibility in `edit-form-generator` component
  frontend/src/common/components/modules/edit-form-generator.tsx
Due: prettier, eslint

refactor: add MIT license and fix license path in pyproject.toml
  backend/LICENSE
  backend/pyproject.toml
Due: none

feat: add `AttachmentMeta` and `is_public` to enhance attachment model
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/attachment_model.py
Due: mypy, ruff, docformatter

feat: enhance attachment model with description and file size attributes
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/attachment_model.py
Due: mypy, ruff, docformatter

chore: bump version to 0.1.0-alpha.20
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

fix: ensure `defaultRoute` is properly checked before rendering routes
  frontend/src/common/components/modules/router.tsx
Due: prettier, eslint

feat: integrate GA4 tracking with `react-ga4` and add GA4 ID configuration
  backend/src/one_public_api/common/init_data.py
  frontend/package.json
  frontend/src/common/app-slice.ts
  frontend/src/common/hooks/use-ga4.ts
  frontend/src/common/pages/home-page.tsx
  frontend/yarn.lock
Due: mypy, ruff, docformatter, prettier, eslint

feat: add mouse stalker component with smooth tracking animation and styles
  frontend/src/App.tsx
  frontend/src/common/components/modules/mouse-stalker.tsx
  frontend/src/index.css
Due: prettier, eslint

chore: bump version to 0.1.0-alpha.21 and update localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

refactor: remove redundant `.ts` extensions from imports in various files
  frontend/src/App.tsx
  frontend/src/common/hooks/use-ga4.ts
  frontend/src/common/pages/home-page.tsx
Due: prettier, eslint

chore: bump version to 0.1.0-alpha.22 and update localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: export GA4 tracking hook from index file
  frontend/src/index.ts
Due: prettier, eslint

chore: bump version to 0.1.0-alpha.23 and update localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

chore: bump version to 0.1.0-alpha.24
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/attachment_model.py
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: update PostgreSQL service, add API service, and include backend Dockerfile
  .env
  backend/Dockerfile
  docker-compose.yaml
  manage.sh
Due: none

feat: add support for custom root path configuration via settings
  .env
  backend/Dockerfile
  backend/src/one_public_api/core/extensions.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/main.py
  backend/src/one_public_api/models/system/attachment_model.py
  docker-compose.yaml
  frontend/Dockerfile
  resources/nginx/default.conf
Due: mypy, ruff, docformatter

Path conditions:
  mypy: any of: \.py$
  ruff: any of: \.py$
  docformatter: any of: \.py$
  prettier: any of: \.(ts|tsx|mjs|html|json)$
  eslint: any of: \.(ts|tsx|mjs|html)$
