Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check yaml files
      - id: debug-statements
        name: Check for debugger imports and breakpoint() calls
      - id: check-toml
        name: Check toml files
      - id: check-added-large-files
        name: Check large files

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        name: Validate commit messages
        stages: [commit-msg]
        additional_dependencies:
          - '@open-turo/commitlint-config-conventional'

  - repo: local
    hooks:
      - id: mypy
        name: Linting with mypy
        entry: |
          bash -c '
          cd backend &&
          poetry run mypy . --strict
          '
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: ruff
        name: Linting with ruff
        entry: |
          bash -c '
          cd backend &&
          poetry run ruff check . --fix &&
          poetry run ruff format .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: docformatter
        name: Linting with docformatter
        entry: |
          bash -c '
          cd backend &&
          poetry run docformatter .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: prettier
        name: Linting with prettier
        entry: |
          bash -c '
          cd frontend &&
          yarn exec prettier . --write'
        language: system
        files: \.(ts|tsx|mjs|html|json)$

  - repo: local
    hooks:
      - id: eslint
        name: Linting with eslint
        entry: |
          bash -c '
          cd frontend &&
          yarn eslint . --fix'
        language: system
        files: \.(ts|tsx|mjs|html)$

refactor: #35 Update user, configuration and authenticate schemas
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/configuration_schema.py
  backend/src/one_public_api/schemas/user_schema.py
Due: mypy, ruff, docformatter

refactor: #35 move `update_one_by_id_with_user` method to base service
  backend/src/one_public_api/services/base_service.py
  backend/src/one_public_api/services/user_service.py
Due: mypy, ruff, docformatter

refactor: #35 enhance configuration, and feature schemas and services
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/routers/configuration_router.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/schemas/configuration_schema.py
  backend/src/one_public_api/schemas/feature_schema.py
  backend/src/one_public_api/schemas/user_schema.py
  backend/src/one_public_api/services/base_service.py
  backend/src/one_public_api/services/user_service.py
Due: mypy, ruff, docformatter

refactor: #35 adjust translations
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/routers/feature_router.py
Due: mypy, ruff, docformatter

feat: #35 add `Token` model
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/feature_model.py
  backend/src/one_public_api/models/system/token_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/authenticate_schema.py
Due: mypy, ruff, docformatter

refactor: #35 update deletion methods, and enhance token handling
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/models/__init__.py
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/token_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/routers/configuration_router.py
  backend/src/one_public_api/routers/feature_router.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/services/base_service.py
Due: mypy, ruff, docformatter

refactor: #35 Save token records to the database on login
  backend/src/one_public_api/crud/data_deleter.py
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

feat: #35 Add token deletion to logout functionality
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

feat: #35 Add "Force logout" functionality
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/utility/search.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

feat: #35 Update DB-stored access token during token refresh
  backend/src/one_public_api/common/utility/search.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

chore: #35 adjust version number to `0.1.0-alpha`
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
Due: mypy, ruff, docformatter

refactor: #35 Adjust configuration and feature models
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/feature_model.py
Due: mypy, ruff, docformatter

refactor: #35 Adjust translations and message consistency
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/response_schema.py
  backend/src/one_public_api/schemas/user_schema.py
Due: mypy, ruff, docformatter

refactor: #35 enhance mixin classes
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/models/mixins/__init__.py
  backend/src/one_public_api/models/mixins/id_mixin.py
  backend/src/one_public_api/models/mixins/maintenance_mixin.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
Due: mypy, ruff, docformatter

refactor: #35 migrate from GenericModel to BaseModel (Pydantic v2)
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/routers/base_route.py
Due: mypy, ruff, docformatter

feat: #35 hash user passwords before saving in user service
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/services/user_service.py
Due: mypy, ruff, docformatter

refactor: #35 Enhance the data update mechanism
  backend/src/one_public_api/core/py.typed
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/services/base_service.py
  backend/src/one_public_api/services/user_service.py
Due: mypy, ruff, docformatter

refactor: #35 update user schema and enhance user service functionality
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/models/mixins/id_mixin.py
  backend/src/one_public_api/models/mixins/maintenance_mixin.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/schemas/response_schema.py
  backend/src/one_public_api/schemas/user_schema.py
  backend/src/one_public_api/services/authenticate_service.py
  backend/src/one_public_api/services/user_service.py
  manage.sh
Due: mypy, ruff, docformatter

refactor: #35 enhance settings, add modularize router loading
  .env
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/common/utility/files.py
  backend/src/one_public_api/core/extensions.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/main.py
Due: mypy, ruff, docformatter

refactor: #45 update translations and adjust string casing
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/routers/authenticate_router.py
Due: mypy, ruff, docformatter

fix: #45 Change the access permissions of the token refresh API
  backend/src/one_public_api/routers/authenticate_router.py
Due: mypy, ruff, docformatter

feat: #45 update log path handling
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/core/settings.py
Due: mypy, ruff, docformatter

feat: #45 add reusable Alert and Toaster components to UI library
  frontend/package.json
  frontend/src/common/components/ui/alert.tsx
  frontend/src/common/components/ui/sonner.tsx
  frontend/yarn.lock
Due: prettier, eslint

feat: #45 add messenger component
  frontend/src/App.tsx
  frontend/src/common/app-slice.ts
  frontend/src/common/components/atoms/spinner.tsx
  frontend/src/common/components/modules/messenger.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/configuration/list-page.tsx
  frontend/src/lib/http.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
Due: prettier, eslint

feat: #45 Add a configuration editor page
  frontend/src/App.tsx
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/components/ui/badge.tsx
  frontend/src/common/constants.ts
  frontend/src/common/pages/configuration/list-page.tsx
  frontend/src/common/pages/configurations/edit-page.tsx
  frontend/src/common/pages/dashboard-page.tsx
  frontend/src/common/types/configuration.d.ts
Due: prettier, eslint

feat: #34 add router module exports with enhanced router props
  .env
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/common/app-slice.ts
  frontend/src/common/components/modules/messenger.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/pages/dashboard-page.tsx
  frontend/src/index.ts
  frontend/src/main.tsx
Due: prettier, eslint

feat: #34 Create a user list management page
  frontend/package.json
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/messenger.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/components/ui/checkbox.tsx
  frontend/src/common/components/ui/table.tsx
  frontend/src/common/constants.ts
  frontend/src/common/pages/users/list-page.tsx
  frontend/src/common/types/response.d.ts
  frontend/src/common/types/user.d.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/yarn.lock
Due: prettier, eslint

feat: #34 Add user deletion feature
  frontend/src/App.tsx
  frontend/src/common/constants.ts
  frontend/src/common/pages/users/list-page.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint

feat: #34 Add data loading skeletons to the user list page
  frontend/src/common/pages/users/list-page.tsx
Due: prettier, eslint

refactor: #34 Change the field name in the user information
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/user_schema.py
  backend/src/one_public_api/services/authenticate_service.py
  frontend/src/common/constants.ts
  frontend/src/common/pages/users/list-page.tsx
  frontend/src/common/types/user.d.ts
Due: mypy, ruff, docformatter, prettier, eslint
