Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check yaml files
      - id: debug-statements
        name: Check for debugger imports and breakpoint() calls
      - id: check-toml
        name: Check toml files
      - id: check-added-large-files
        name: Check large files

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        name: Validate commit messages
        stages: [commit-msg]
        additional_dependencies:
          - '@open-turo/commitlint-config-conventional'

  - repo: local
    hooks:
      - id: mypy
        name: Linting with mypy
        entry: |
          bash -c '
          cd backend &&
          poetry run mypy . --strict
          '
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: ruff
        name: Linting with ruff
        entry: |
          bash -c '
          cd backend &&
          poetry run ruff check . --fix &&
          poetry run ruff format .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: docformatter
        name: Linting with docformatter
        entry: |
          bash -c '
          cd backend &&
          poetry run docformatter .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: prettier
        name: Linting with prettier
        entry: |
          bash -c '
          cd frontend &&
          yarn exec prettier . --write'
        language: system
        files: \.(ts|tsx|mjs|html|json)$

  - repo: local
    hooks:
      - id: eslint
        name: Linting with eslint
        entry: |
          bash -c '
          cd frontend &&
          yarn eslint . --fix'
        language: system
        files: \.(ts|tsx|mjs|html)$

feat: #34 Add API call for logout functionality in NavUser component
  frontend/src/common/components/modules/nav-user.tsx
Due: prettier, eslint

feat: #34 Implement user creation and update functionality
  frontend/src/common/components/modules/messenger.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/pages/configurations/edit-page.tsx
  frontend/src/common/pages/users/edit-page.tsx
  frontend/src/common/pages/users/list-page.tsx
  frontend/src/common/types/response.d.ts
  frontend/src/common/types/user.d.ts
  frontend/src/lib/utils.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
Due: prettier, eslint

feat: #34 Generalized the form generation process
  frontend/eslint.config.ts
  frontend/src/common/pages/users/edit-page.tsx
  frontend/src/lib/utils.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
Due: prettier, eslint

chore: #47 Prepare release v0.1.0a0
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

refactor: #49 handle query params and conditions in `data_reader.all`
  backend/src/one_public_api/crud/data_reader.py
Due: mypy, ruff, docformatter

refactor: #49 improve `init_features` to update feature descriptions
  backend/src/one_public_api/common/init_data.py
Due: mypy, ruff, docformatter

chore: #49 Prepare release v0.1.0a2
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: #34 Introduce NaviButton component to replace Button
  frontend/src/common/components/atoms/navi-button.tsx
  frontend/src/common/components/modules/nav-user.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/pages/users/list-page.tsx
Due: prettier, eslint

feat: #34 Create Data List Component
  frontend/src/common/components/atoms/navi-button.tsx
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-pagination.tsx
  frontend/src/common/components/modules/data-skeleton.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/common/pages/users/list-page.tsx
  frontend/src/common/types/props.d.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
Due: prettier, eslint

feat: #52 Add Chinese Language Support
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

chore: #34 Add common types export and new module exports to index
  frontend/package.json
  frontend/src/common/types/type-shim.ts
  frontend/src/index.ts
Due: prettier, eslint

chore: #52 Update Chinese translations
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/src/common/constants.ts
  frontend/src/lib/http.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

feat: #34 Add support for default route via `children.default` in Router component
  .commitlintrc.yaml
  frontend/src/common/components/modules/router.tsx
Due: prettier, eslint

feat: #51 add public user retrieval API
  backend/src/one_public_api/routers/user_router.py
Due: mypy, ruff, docformatter

refactor: #51 reorder public and admin router inclusions for consistency
  backend/src/one_public_api/common/tools.py
Due: mypy, ruff, docformatter

feat: #51 add `APP_TYPE` setting and condition public router inclusion
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/core/settings.py
Due: mypy, ruff, docformatter

chore: #51 update messages
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
Due: none

feat: #51 set conditional URLs for API docs based on debug settings
  .env
  backend/src/one_public_api/main.py
Due: mypy, ruff, docformatter

feat: #51 Disabling the authentication API is not allowed
  .env
  backend/src/one_public_api/common/tools.py
Due: mypy, ruff, docformatter

refactor: #51 update response models to use lists for consistency in list APIs
  .commitlintrc.yaml
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/routers/configuration_router.py
  backend/src/one_public_api/routers/feature_router.py
  backend/src/one_public_api/routers/user_router.py
Due: mypy, ruff, docformatter

chore: #34 bump version to 0.1.0-alpha.4
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

docs: #31 Updating Authentication API Documentation (in progress)
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/routers/authenticate_router.py
Due: mypy, ruff, docformatter

feat: #56 make `SameSite` and `Secure` attributes for refresh token configurable
  .env
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/services/authenticate_service.py
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

refactor: #58 simplify exports by removing redundant subpath mappings in `package.json`
  frontend/package.json
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/index.ts
Due: prettier, eslint

docs: #58 Update README content
  frontend/README.md
Due: none

chore: #58 bump the version to 0.1.0-alpha.6
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

fix: #60 update `package.json` exports
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

chore: #60 update `.prettierrc.yaml` to enforce LF line endings
  frontend/.prettierrc.yaml
Due: none

chore: #60 update `.prettierrc.yaml` to modify JSON formatting rules
  frontend/.prettierrc.yaml
Due: none

chore: #60 update GitHub Actions to add Prettier debug step
  .github/workflows/check.yaml
Due: none

chore: #60 fix `--loglevel` flag in Prettier debug step of GitHub Actions
  .github/workflows/check.yaml
Due: none

chore: #60 remove redundant Prettier debug step and update `.prettierrc.yaml`
  .github/workflows/check.yaml
  frontend/.prettierrc.yaml
Due: none

feat: update translation strings and descriptions for authentication endpoints
  .env
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
Due: none

refactor: #63 delegate `loadComplete` dispatch to utility function
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/common/pages/sample/sample-page.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint

chore: #63 update `.env`
  .env
Due: none

chore: #63 downgrade bcrypt dependency to `^3.2.2` in `pyproject.toml`
  backend/poetry.lock
  backend/pyproject.toml
Due: none

fix: #63 Fix the white flash issue
  frontend/index.html
  frontend/src/App.tsx
Due: prettier, eslint

chore: #63 update imports to remove `.ts` extension in utility references
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/common/pages/sample/sample-page.tsx
  frontend/src/common/pages/welcome-page.tsx
Due: prettier, eslint

refactor: #63 move `completed` function to dedicated module
  frontend/src/common/constants.ts
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/common/pages/sample/sample-page.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/index.ts
  frontend/src/lib/functions.ts
  frontend/src/lib/utils.ts
Due: prettier, eslint

feat: #63 add OpenAPI JSON URL configuration using `JSON_URL` setting
  .env
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/main.py
Due: mypy, ruff, docformatter
