Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check yaml files
      - id: debug-statements
        name: Check for debugger imports and breakpoint() calls
      - id: check-toml
        name: Check toml files
      - id: check-added-large-files
        name: Check large files

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        name: Validate commit messages
        stages: [commit-msg]
        additional_dependencies:
          - '@open-turo/commitlint-config-conventional'

  - repo: local
    hooks:
      - id: mypy
        name: Linting with mypy
        entry: |
          bash -c '
          cd backend &&
          poetry run mypy . --strict
          '
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: ruff
        name: Linting with ruff
        entry: |
          bash -c '
          cd backend &&
          poetry run ruff check . --fix &&
          poetry run ruff format .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: docformatter
        name: Linting with docformatter
        entry: |
          bash -c '
          cd backend &&
          poetry run docformatter .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: prettier
        name: Linting with prettier
        entry: |
          bash -c '
          cd frontend &&
          yarn exec prettier . --write'
        language: system
        files: \.(ts|tsx|mjs|html|json)$

  - repo: local
    hooks:
      - id: eslint
        name: Linting with eslint
        entry: |
          bash -c '
          cd frontend &&
          yarn eslint . --fix'
        language: system
        files: \.(ts|tsx|mjs|html)$

refactor: #69 Create a data list component
  frontend/package.json
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/types/data.d.ts
  frontend/src/common/types/props.d.ts
  frontend/src/features/users/add-page.tsx
  frontend/src/features/users/columns.ts
  frontend/src/features/users/list-page.tsx
  frontend/src/features/users/update-page.tsx
  frontend/src/index.css
  frontend/src/lib/functions.ts
  frontend/src/lib/functions.tsx
  frontend/src/locales/ja.json
  frontend/src/templates/menu.tsx
  frontend/yarn.lock
Due: prettier, eslint

chore: #69 enable debug mode via env variable and conditionally remove console logs
  .env
  frontend/vite.config.ts
Due: prettier, eslint

feat: #69 Add user action menu support for DataList component
  frontend/package.json
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/common/constants.ts
  frontend/src/common/types/data.d.ts
  frontend/src/common/types/props.d.ts
  frontend/src/features/users/list-page.tsx
  frontend/src/lib/functions.tsx
  frontend/src/lib/utils.ts
  frontend/src/locales/configs.ts
  frontend/src/locales/ja.json
  frontend/yarn.lock
Due: prettier, eslint

refactor: #69 update locale files and enhance error handling for missing data
  backend/src/one_public_api/crud/data_reader.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/services/base_service.py
Due: mypy, ruff, docformatter

refactor: #69 enhance token retry logic and improve debug logging
  frontend/src/lib/http.ts
Due: prettier, eslint

feat: #69 add user delete functionality and improve User types
  frontend/src/common/types/user.d.ts
  frontend/src/features/users/list-page.tsx
  frontend/src/locales/ja.json
Due: prettier, eslint

refactor: #69 restructure user forms and columns into reusable modules
  frontend/src/common/components/modules/edit-form.tsx
  frontend/src/features/users/add-page.tsx
  frontend/src/features/users/form-items.ts
  frontend/src/features/users/list-columns.ts
  frontend/src/features/users/list-page.tsx
  frontend/src/features/users/types/test-type.d.ts
  frontend/src/features/users/types/user.d.ts
  frontend/src/features/users/update-page.tsx
  frontend/src/lib/functions.tsx
Due: prettier, eslint

refactor: replace React.ReactNode with React.JSX.Element across all page components
  frontend/src/common/components/modules/data-pagination.tsx
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/pages/configurations/edit-page.tsx
  frontend/src/common/pages/dashboard-page.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/common/pages/sample/sample-page.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/features/users/list-page.tsx
Due: prettier, eslint

feat: #69 add sticky columns for select and actions in DataList
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/index.css
  frontend/src/lib/functions.tsx
Due: prettier, eslint

feat: #69 introduce reusable form schema and dynamic form item conversion
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/edit-form.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/common/types/props.d.ts
  frontend/src/features/users/add-page.tsx
  frontend/src/features/users/form-items.ts
  frontend/src/features/users/types/user.d.ts
  frontend/src/lib/functions.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint

chore: add user-configuration relationship and update localization files
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/links/__init__.py
  backend/src/one_public_api/models/links/user_configuration_link.py
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/base_schema.py
  backend/src/one_public_api/schemas/configuration_schema.py
Due: mypy, ruff, docformatter

refactor: replace `detail` field type in ResponseSchema and services
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/schemas/response_schema.py
  backend/src/one_public_api/services/base_service.py
Due: mypy, ruff, docformatter

feat: add `get_all` method in `ConfigurationService` with query support
  backend/src/one_public_api/services/configuration_service.py
Due: mypy, ruff, docformatter

feat: add `Switch` component and integrate it into dynamic form handling
  .env
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
  frontend/src/common/components/ui/switch.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/features/users/add-page.tsx
  frontend/src/features/users/form-items.ts
  frontend/src/features/users/types/user.d.ts
  frontend/src/features/users/update-page.tsx
  frontend/src/lib/functions.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/yarn.lock
Due: prettier, eslint

refactor: enhance type safety in `EditForm` with generic constraint
  frontend/src/common/components/modules/edit-form.tsx
Due: prettier, eslint

chore: update default UI and API language settings to English in `.env`
  .env
Due: none

chore: update admin path in `.env` to default `/admin`
  .env
Due: none

refactor: modularize and centralize utilities for forms and data lists
  frontend/src/common/components/modules/data-list-generator.tsx
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/edit-form-generator.tsx
  frontend/src/common/components/modules/edit-form.tsx
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/common/pages/sample/sample-page.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/features/users/list-columns.ts
  frontend/src/lib/functions.tsx
  frontend/src/lib/utils.ts
  frontend/src/locales/ja.json
Due: prettier, eslint

refactor: correct table name in `UserConfigurationLink` model
  backend/src/one_public_api/models/links/user_configuration_link.py
Due: mypy, ruff, docformatter

refactor: replace `HTTPException` with `NoResultFound` in `init_data`
  backend/src/one_public_api/common/init_data.py
Due: mypy, ruff, docformatter

feat: #75 add organization, permission, action models
  .env
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/init_data.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/__init__.py
  backend/src/one_public_api/models/links/__init__.py
  backend/src/one_public_api/models/links/organization_user_link.py
  backend/src/one_public_api/models/mixins/__init__.py
  backend/src/one_public_api/models/mixins/belong_to_mixin.py
  backend/src/one_public_api/models/mixins/maintenance_mixin.py
  backend/src/one_public_api/models/system/action_model.py
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/feature_model.py
  backend/src/one_public_api/models/system/organization_model.py
  backend/src/one_public_api/models/system/permission_model.py
  backend/src/one_public_api/models/system/token_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/organization_schema.py
  backend/src/one_public_api/schemas/user_schema.py
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

feat: add role, permission relationships and update localization
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/links/__init__.py
  backend/src/one_public_api/models/links/configuration_user_link.py
  backend/src/one_public_api/models/links/permission_action_link.py
  backend/src/one_public_api/models/links/permission_feature_link.py
  backend/src/one_public_api/models/links/role_permission_link.py
  backend/src/one_public_api/models/links/role_user_link.py
  backend/src/one_public_api/models/links/user_configuration_link.py
  backend/src/one_public_api/models/system/permission_model.py
  backend/src/one_public_api/models/system/role_model.py
Due: mypy, ruff, docformatter

chore: adjust query parameter descriptions
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/query_param.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/system/action_model.py
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/feature_model.py
  backend/src/one_public_api/models/system/organization_model.py
  backend/src/one_public_api/models/system/permission_model.py
  backend/src/one_public_api/models/system/role_model.py
  backend/src/one_public_api/models/system/token_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/configuration_schema.py
  backend/src/one_public_api/schemas/feature_schema.py
  backend/src/one_public_api/schemas/user_schema.py
Due: mypy, ruff, docformatter

refactor: improve schema and localization structures
  .env
  backend/src/one_public_api/core/exceptions.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/action_model.py
  backend/src/one_public_api/routers/base_route.py
  backend/src/one_public_api/schemas/base_schema.py
  backend/src/one_public_api/schemas/response_schema.py
  backend/src/one_public_api/services/authenticate_service.py
  backend/src/one_public_api/services/base_service.py
  backend/src/one_public_api/services/user_service.py
  frontend/src/lib/http.ts
Due: mypy, ruff, docformatter, prettier, eslint

refactor: consolidate user and configuration schemas into `base_schema`
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/routers/configuration_router.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/schemas/__init__.py
  backend/src/one_public_api/schemas/action_schema.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/base_schema.py
  backend/src/one_public_api/schemas/configuration_schema.py
  backend/src/one_public_api/schemas/permission_schema.py
  backend/src/one_public_api/schemas/role_schema.py
  backend/src/one_public_api/schemas/user_schema.py
Due: mypy, ruff, docformatter

feat: add notification, category models, and organization relationships
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/init_data.py
  backend/src/one_public_api/common/utility/search.py
  backend/src/one_public_api/core/extensions.py
  backend/src/one_public_api/crud/data_reader.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/__init__.py
  backend/src/one_public_api/models/links/__init__.py
  backend/src/one_public_api/models/links/attachment_organization_link.py
  backend/src/one_public_api/models/links/attachment_user_link.py
  backend/src/one_public_api/models/links/category_attachment_link.py
  backend/src/one_public_api/models/links/category_organization_link.py
  backend/src/one_public_api/models/links/configuration_organization_link.py
  backend/src/one_public_api/models/links/notification_user_link.py
  backend/src/one_public_api/models/mixins/__init__.py
  backend/src/one_public_api/models/mixins/address_mixin.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/system/action_model.py
  backend/src/one_public_api/models/system/attachment_model.py
  backend/src/one_public_api/models/system/category_model.py
  backend/src/one_public_api/models/system/notification_model.py
  backend/src/one_public_api/models/system/organization_model.py
  backend/src/one_public_api/models/system/permission_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/services/authenticate_service.py
  backend/src/one_public_api/services/user_service.py
Due: mypy, ruff, docformatter

feat: enhance role and user models with improved relationships
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/system/role_model.py
  backend/src/one_public_api/models/system/user_model.py
Due: mypy, ruff, docformatter

refactor: simplify user and role schema relationships
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/base_schema.py
Due: mypy, ruff, docformatter

chore: bump version to 0.1.0-alpha.11 and update localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: enhance mixins, add category schema, and update localization
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/mixins/address_mixin.py
  backend/src/one_public_api/models/mixins/belong_to_mixin.py
  backend/src/one_public_api/models/mixins/id_mixin.py
  backend/src/one_public_api/models/mixins/maintenance_mixin.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
  backend/src/one_public_api/schemas/category_schema.py
  backend/src/one_public_api/schemas/organization_schema.py
  backend/src/one_public_api/schemas/permission_schema.py
Due: mypy, ruff, docformatter

feat: improve schema structures
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/models/links/notification_user_link.py
  backend/src/one_public_api/models/system/action_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/action_schema.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/base_schema.py
  backend/src/one_public_api/schemas/feature_schema.py
  backend/src/one_public_api/schemas/organization_schema.py
  backend/src/one_public_api/schemas/permission_schema.py
  backend/src/one_public_api/schemas/role_schema.py
Due: mypy, ruff, docformatter

chore: bump version to 0.1.0-alpha.12 and update localization files
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

feat: add user detail view
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  backend/src/one_public_api/schemas/base_schema.py
  frontend/src/common/components/modules/data-detail.tsx
  frontend/src/common/components/modules/data-list-generator.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/types/data.d.ts
  frontend/src/common/types/props.d.ts
  frontend/src/features/users/detail-columns.ts
  frontend/src/features/users/detail-page.tsx
  frontend/src/features/users/form-items.ts
  frontend/src/features/users/list-page.tsx
  frontend/src/features/users/types/user.d.ts
  frontend/src/features/users/update-page.tsx
  frontend/src/lib/utils.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/templates/menu.tsx
Due: mypy, ruff, docformatter, prettier, eslint

feat: add paragraph type, textarea UI component, and enhance form rendering
  frontend/src/common/components/modules/data-detail.tsx
  frontend/src/common/components/modules/edit-form-generator.tsx
  frontend/src/common/components/ui/textarea.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/index.css
Due: prettier, eslint

feat: redefine `is_enabled` field to `OrganizationModel`
  backend/src/one_public_api/models/system/organization_model.py
Due: mypy, ruff, docformatter

feat: redefine `is_enabled` field to `OrganizationModel`
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
Due: none

fix: remove redundant `.tsx` extension from Textarea import path
  frontend/src/common/components/modules/edit-form-generator.tsx
Due: prettier, eslint

refactor: remove unused `functions` export and add new module exports
  frontend/src/index.ts
  frontend/src/lib/functions.tsx
Due: prettier, eslint

fix: solve the circular reference problem
  frontend/src/common/app-slice.ts
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/features/users/add-page.tsx
  frontend/src/features/users/list-page.tsx
  frontend/src/features/users/update-page.tsx
  frontend/src/index.ts
  frontend/src/lib/functions.tsx
  frontend/src/lib/http.ts
  frontend/src/lib/utils.ts
  frontend/src/locales/configs.ts
  frontend/src/templates/menu.tsx
Due: prettier, eslint

refactor: change `.tsx` extension of `functions` to `.ts`
  frontend/src/lib/functions.ts
Due: prettier, eslint
