Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check yaml files
      - id: debug-statements
        name: Check for debugger imports and breakpoint() calls
      - id: check-toml
        name: Check toml files
      - id: check-added-large-files
        name: Check large files

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        name: Validate commit messages
        stages: [commit-msg]
        additional_dependencies:
          - '@open-turo/commitlint-config-conventional'

  - repo: local
    hooks:
      - id: mypy
        name: Linting with mypy
        entry: |
          bash -c '
          cd backend &&
          poetry run mypy . --strict
          '
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: ruff
        name: Linting with ruff
        entry: |
          bash -c '
          cd backend &&
          poetry run ruff check . --fix &&
          poetry run ruff format .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: docformatter
        name: Linting with docformatter
        entry: |
          bash -c '
          cd backend &&
          poetry run docformatter .'
        language: system
        types:
          - python

  - repo: local
    hooks:
      - id: prettier
        name: Linting with prettier
        entry: |
          bash -c '
          cd frontend &&
          yarn exec prettier . --write'
        language: system
        files: \.(ts|tsx|mjs|html|json)$

  - repo: local
    hooks:
      - id: eslint
        name: Linting with eslint
        entry: |
          bash -c '
          cd frontend &&
          yarn eslint . --fix'
        language: system
        files: \.(ts|tsx|mjs|html)$

feat: #6 Add authentication API route constants
  backend/src/one_public_api/common/constants.py
Due: mypy, ruff, docformatter

chore: #6 add PyCharm watcher tasks configuration
  .gitignore
  .idea/watcherTasks.xml
Due: none

feat: #6 Create a skeleton for the authentication APIs
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/main.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/schemas/authenticate_schema.py
Due: mypy, ruff, docformatter

feat: #6 Add `get_one` method to DataReader and BaseService classes
  backend/src/one_public_api/crud/data_reader.py
  backend/src/one_public_api/services/base_service.py
Due: mypy, ruff, docformatter

feat: #6 Add EmptyResponse and UnauthorizedError
  backend/src/one_public_api/core/exceptions.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/schemas/response_schema.py
Due: mypy, ruff, docformatter

feat: #6 Create login and authentication features
  .env
  backend/locales/en/LC_MESSAGES/messages.po
  backend/locales/ja/LC_MESSAGES/messages.po
  backend/locales/messages.pot
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/init_data.py
  backend/src/one_public_api/common/query_param.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/common/utility/str.py
  backend/src/one_public_api/core/exceptions.py
  backend/src/one_public_api/core/extensions.py
  backend/src/one_public_api/core/log.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/crud/data_updater.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/routers/configuration_router.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/configuration_schema.py
  backend/src/one_public_api/schemas/user_schema.py
  backend/src/one_public_api/services/authenticate_service.py
  backend/src/one_public_api/services/base_service.py
  backend/src/one_public_api/services/user_service.py
Due: mypy, ruff, docformatter

feat: #6 Separate routers for public and protected APIs
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/core/extensions.py
  backend/src/one_public_api/main.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/routers/configuration_router.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

feat: #6 Enhance authentication mechanisms and token management
  .env
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/routers/configuration_router.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/configuration_schema.py
  backend/src/one_public_api/schemas/user_schema.py
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

feat: #6 Add sign up API and enhance user schema
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/schemas/user_schema.py
Due: mypy, ruff, docformatter

feat: #22 Add HTTP utility functions with Axios and QS integrations
  frontend/app/common/utils/http.ts
  frontend/package.json
  frontend/yarn.lock
Due: prettier, eslint

feat: #22 Implement API call logic
  frontend/app/common/app-slice.ts
  frontend/app/common/components/atoms/language.tsx
  frontend/app/common/constants.ts
  frontend/app/common/types/response.ts
  frontend/app/common/utils/http.ts
  frontend/app/root.tsx
Due: prettier, eslint

chore: #22 Update scheduled merge workflow to run on Mon, Wed, Fri
  .github/workflows/scheduled-merge.yaml
Due: none

feat: #22 Update ConfigurationPublicResponse schema
  backend/src/one_public_api/schemas/configuration_schema.py
Due: mypy, ruff, docformatter

feat: #22 Fix redux configuration initialization logic
  frontend/app/common/app-slice.ts
  frontend/app/common/constants.ts
  frontend/app/common/types/configuration.ts
  frontend/app/locales/configs.ts
  frontend/app/root.tsx
Due: prettier, eslint

feat: #22 Add default system configuration for language
  backend/src/one_public_api/common/init_data.py
Due: mypy, ruff, docformatter

feat: #22 Add Card and Label UI components, update dependencies
  frontend/app/common/components/ui/card.tsx
  frontend/app/common/components/ui/label.tsx
  frontend/package.json
  frontend/yarn.lock
Due: prettier, eslint

feat: #22 Add login page
  frontend/app/app.css
  frontend/app/common/components/modules/login-form.tsx
  frontend/app/common/pages/login-page.tsx
  frontend/app/routes.ts
Due: prettier, eslint

feat: #22 Add forms
  frontend/app/common/components/ui/form.tsx
  frontend/package.json
  frontend/yarn.lock
Due: prettier, eslint

feat: #22 Add login page
  .env
  frontend/app/common/components/modules/login-form.tsx
  frontend/app/common/constants.ts
  frontend/app/common/types/authenticate.ts
Due: prettier, eslint

feat: #24 Implement feature management API with public routes
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/crud/data_reader.py
  backend/src/one_public_api/main.py
  backend/src/one_public_api/routers/feature_router.py
  backend/src/one_public_api/schemas/feature_schema.py
  backend/src/one_public_api/services/feture_service.py
Due: mypy, ruff, docformatter

refactor: #24 Consolidate schema examples & improve reuse across modules
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/configuration_schema.py
  backend/src/one_public_api/schemas/feature_schema.py
  backend/src/one_public_api/schemas/response_schema.py
  backend/src/one_public_api/schemas/user_schema.py
Due: mypy, ruff, docformatter

feat: #24 Add admin feature management APIs
  backend/src/one_public_api/models/system/feature_model.py
  backend/src/one_public_api/routers/feature_router.py
  backend/src/one_public_api/schemas/feature_schema.py
  backend/src/one_public_api/services/feture_service.py
Due: mypy, ruff, docformatter

feat: #24 Enable feature control mechanism
  .env
  backend/migrations/env.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/core/__init__.py
  backend/src/one_public_api/core/i18n.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/routers/base_route.py
  backend/src/one_public_api/schemas/response_schema.py
  backend/src/one_public_api/services/authenticate_service.py
  backend/src/one_public_api/services/base_service.py
  backend/src/one_public_api/services/configuration_service.py
  backend/src/one_public_api/services/feture_service.py
  backend/src/one_public_api/services/user_service.py
Due: mypy, ruff, docformatter

refactor: #26 Change the location of the locales directory
  backend/.gitignore
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/core/i18n.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  manage.sh
Due: mypy, ruff, docformatter

refactor: #26 Simplify router initialization using dynamic loading
  backend/src/one_public_api/core/extensions.py
  backend/src/one_public_api/main.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/routers/configuration_router.py
  backend/src/one_public_api/routers/feature_router.py
  backend/src/one_public_api/routers/user_router.py
Due: mypy, ruff, docformatter

feat: #26 Add dynamic route handler loading and update router logic
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/routers/base_route.py
Due: mypy, ruff, docformatter

refactor: #26 Rename language settings for consistency
  .env
  backend/src/one_public_api/core/i18n.py
  backend/src/one_public_api/core/settings.py
Due: mypy, ruff, docformatter

feat: #26 Load API title from settings
  .env
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/main.py
Due: mypy, ruff, docformatter

refactor: #26 Update settings structure and locale handling
  .env
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/utility/files.py
  backend/src/one_public_api/core/i18n.py
  backend/src/one_public_api/core/settings.py
Due: mypy, ruff, docformatter

refactor: #26 Update & improve locales and internationalization handling
  backend/src/one_public_api/common/utility/files.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
Due: mypy, ruff, docformatter

refactor: #26 Remove default paths for locales and logs in `.env`
  .env
Due: none

refactor: #22 improve log file path resolution with default fallback
  backend/src/one_public_api/core/settings.py
Due: mypy, ruff, docformatter

fix: #22 simplify configuration router by removing redundant prefix
  backend/src/one_public_api/routers/configuration_router.py
Due: mypy, ruff, docformatter

chore: #22 Update `package.json` with version and description
  frontend/package.json
Due: prettier

chore: #22 Rename ESLint config file
  frontend/eslint.config.mts
Due: none

refactor: #22 Modify user table structure
  backend/src/one_public_api/common/init_data.py
  backend/src/one_public_api/models/mixins/password_mixin.py
Due: mypy, ruff, docformatter

refactor: #22 Update authentication types & refine API response typings
  frontend/app/common/components/modules/login-form.tsx
  frontend/app/common/types/authenticate.ts
  frontend/app/common/types/response.ts
  frontend/app/common/utils/http.ts
Due: prettier, eslint

chore: #22 Update locale files
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
Due: none

refactor: #22 Implement authentication flow & add `Avatar` component
  frontend/app/common/app-slice.ts
  frontend/app/common/components/modules/app-sidebar.tsx
  frontend/app/common/components/modules/login-form.tsx
  frontend/app/common/components/modules/nav-user.tsx
  frontend/app/common/components/ui/avatar.tsx
  frontend/app/common/pages/admin-page.tsx
  frontend/package.json
  frontend/yarn.lock
Due: prettier, eslint
