Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

mypy:
  name: Linting with mypy
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run mypy . --strict
  
    ''
  
    '
  language: system

ruff:
  name: Linting with ruff
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run ruff check . --fix &&
  
    poetry run ruff format .''
  
    '
  language: system

docformatter:
  name: Linting with docformatter
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run docformatter .''
  
    '
  language: system

prettier:
  name: Linting with prettier
  entry: 'bash -c ''
  
    cd frontend &&
  
    yarn exec prettier . --write''
  
    '
  language: system

eslint:
  name: Linting with eslint
  entry: 'bash -c ''
  
    cd frontend &&
  
    yarn eslint . --fix''
  
    '
  language: system

chore: #22 Update ESLint and Prettier plugin settings
  frontend/README.md
  frontend/eslint.config.js
  frontend/eslint.config.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

chore: #22 Add shadcn/ui
  frontend/components.json
  frontend/eslint.config.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

refactor: #22 Remove obsolete files from the old structure
  frontend-old/README.md
  frontend-old/app/common/components/modules/mode-toggle.tsx
  frontend-old/app/common/components/theme-provider.tsx
  frontend-old/app/common/components/ui/avatar.tsx
  frontend-old/app/common/components/ui/button.tsx
  frontend-old/app/common/components/ui/card.tsx
  frontend-old/app/common/components/ui/collapsible.tsx
  frontend-old/app/common/components/ui/dropdown-menu.tsx
  frontend-old/app/common/components/ui/form.tsx
  frontend-old/app/common/components/ui/input.tsx
  frontend-old/app/common/components/ui/label.tsx
  frontend-old/app/common/components/ui/scroll-area.tsx
  frontend-old/app/common/components/ui/select.tsx
  frontend-old/app/common/components/ui/separator.tsx
  frontend-old/app/common/components/ui/sheet.tsx
  frontend-old/app/common/components/ui/sidebar.tsx
  frontend-old/app/common/components/ui/skeleton.tsx
  frontend-old/app/common/components/ui/tooltip.tsx
  frontend-old/app/common/utils/env.ts
  frontend-old/eslint.config.mts
  frontend-old/package.json
  frontend-old/react-router.config.ts
  frontend-old/tsconfig.json
  frontend-old/vite.config.ts
Due: prettier, eslint

refactor: #22 Frontend Project Structure Change Completed
  frontend-old/app/common/pages/dashboard-page.tsx
  frontend-old/app/common/styles/component.css
  frontend-old/app/common/styles/components/modules/mode-toggle.css
  frontend-old/app/common/styles/error-boundary.css
  frontend-old/app/features/sample/components/block/header.tsx
  frontend-old/app/features/sample/layout.tsx
  frontend-old/app/features/sample/pages/error-page.tsx
  frontend-old/app/features/sample/pages/index-page.tsx
  frontend-old/app/features/sample/styles/components/block/header.css
  frontend-old/app/features/sample/styles/pages/index-page.css
  frontend-old/app/root.tsx
  frontend-old/app/routes.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/modules/login-form.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/features/sample/components/block/header.tsx
  frontend/src/pages/admin/admin-page.tsx
  frontend/src/pages/admin/login-page.tsx
  frontend/src/pages/error-page.tsx
  frontend/src/pages/home-page.tsx
  frontend/src/pages/sample/sample-page.tsx
  frontend/src/types/authenticate.d.ts
  frontend/yarn.lock
Due: prettier, eslint

refactor: #22 Update project structure of shadcn/ui
  frontend/components.json
  frontend/src/App.tsx
  frontend/src/common/components/atoms/language.tsx
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/common/components/atoms/spinner.tsx
  frontend/src/common/components/atoms/text-image.tsx
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/go-home.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/components/modules/mode-toggle.tsx
  frontend/src/common/components/modules/nav-user.tsx
  frontend/src/common/components/theme-provider.tsx
  frontend/src/common/components/ui/avatar.tsx
  frontend/src/common/components/ui/button.tsx
  frontend/src/common/components/ui/card.tsx
  frontend/src/common/components/ui/collapsible.tsx
  frontend/src/common/components/ui/dropdown-menu.tsx
  frontend/src/common/components/ui/form.tsx
  frontend/src/common/components/ui/input.tsx
  frontend/src/common/components/ui/label.tsx
  frontend/src/common/components/ui/scroll-area.tsx
  frontend/src/common/components/ui/select.tsx
  frontend/src/common/components/ui/separator.tsx
  frontend/src/common/components/ui/sheet.tsx
  frontend/src/common/components/ui/sidebar.tsx
  frontend/src/common/components/ui/skeleton.tsx
  frontend/src/common/components/ui/tooltip.tsx
  frontend/src/common/hooks/use-mobile.ts
  frontend/src/common/hooks/use-store.ts
  frontend/src/features/sample/components/block/header.tsx
  frontend/src/main.tsx
  frontend/src/pages/admin/admin-page.tsx
  frontend/src/pages/admin/login-page.tsx
  frontend/src/pages/error-page.tsx
  frontend/src/pages/home-page.tsx
  frontend/src/pages/sample/sample-page.tsx
  frontend/src/pages/welcome-page.tsx
Due: prettier, eslint

refactor: #22 Enhance locale initialization & unify a theme storage key
  frontend/src/App.tsx
  frontend/src/common/app-slice.ts
  frontend/src/common/components/theme-provider.tsx
  frontend/src/common/constants.ts
  frontend/src/locales/configs.ts
  frontend/src/main.tsx
Due: prettier, eslint

refactor: #22 Consolidate file structure under `common` directory
  frontend/src/App.tsx
  frontend/src/common/app-slice.ts
  frontend/src/common/components/atoms/text-image.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/common/pages/sample/sample-page.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/common/styles/components/atoms/text-image.css
  frontend/src/common/types/authenticate.d.ts
  frontend/src/common/types/configuration.d.ts
  frontend/src/common/types/response.d.ts
  frontend/src/lib/http.ts
Due: prettier, eslint

feat: #22 Modify the Redux store’s app settings initialization process
  .env
  frontend/.gitignore
  frontend/src/App.tsx
  frontend/src/common/app-slice.ts
  frontend/src/common/components/theme-provider.tsx
  frontend/src/common/constants.ts
Due: prettier, eslint

feat: #22 Completed authentication check logic
  frontend/src/App.tsx
  frontend/src/common/components/modules/nav-user.tsx
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/lib/http.ts
Due: prettier, eslint

feat: #22 Update token refresh and logout logic
  backend/src/one_public_api/routers/authenticate_router.py
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

refactor: #22 Add automatic token refresh logic
  frontend/src/App.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/types/response.d.ts
  frontend/src/lib/http.ts
Due: prettier, eslint

chore: add TODO for exclusive control handling in token refresh logic
  frontend/src/lib/http.ts
Due: prettier, eslint

feat: #22 implement request queue handling for token refresh logic
  frontend/src/common/types/response.d.ts
  frontend/src/lib/http.ts
Due: prettier, eslint

feat: #22 enhance login and i18n support
  frontend/src/App.tsx
  frontend/src/common/components/atoms/password.tsx
  frontend/src/common/components/atoms/spinner.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/components/modules/nav-user.tsx
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/common/pages/sample/sample-page.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
Due: prettier, eslint

feat: #30 Add support for multiple app types
  .env
  frontend/src/App.tsx
  frontend/src/common/app-slice.ts
  frontend/src/common/components/modules/router.tsx
Due: prettier, eslint

refactor: #30 centralize route and API URL constants
  .env
  frontend/src/App.tsx
  frontend/src/common/app-slice.ts
  frontend/src/common/components/atoms/language.tsx
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/go-home.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/components/modules/mode-toggle.tsx
  frontend/src/common/components/modules/nav-user.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/error-page.tsx
  frontend/src/common/pages/welcome-page.tsx
Due: prettier, eslint

chore: #36 Update project settings for building the package
  frontend/package.json
  frontend/tsconfig.build.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

feat: #38 improve router loading pattern to support nested directories
  backend/src/one_public_api/main.py
Due: mypy, ruff, docformatter

refactor: #38 update route handler to support nested directories
  backend/src/one_public_api/routers/base_route.py
Due: mypy, ruff, docformatter

chore: #38 add py.typed file for type checking compliance
  backend/src/one_public_api/py.typed
Due: none

refactor: #36 remove `.ts[x]` extensions from imports in all files
  frontend/src/App.tsx
  frontend/src/common/app-slice.ts
  frontend/src/common/components/modules/nav-user.tsx
  frontend/src/common/components/theme-provider.tsx
  frontend/src/common/components/ui/avatar.tsx
  frontend/src/common/components/ui/button.tsx
  frontend/src/common/components/ui/card.tsx
  frontend/src/common/components/ui/dropdown-menu.tsx
  frontend/src/common/components/ui/form.tsx
  frontend/src/common/components/ui/input.tsx
  frontend/src/common/components/ui/label.tsx
  frontend/src/common/components/ui/scroll-area.tsx
  frontend/src/common/components/ui/select.tsx
  frontend/src/common/components/ui/separator.tsx
  frontend/src/common/components/ui/sheet.tsx
  frontend/src/common/components/ui/sidebar.tsx
  frontend/src/common/components/ui/skeleton.tsx
  frontend/src/common/components/ui/tooltip.tsx
  frontend/src/common/hooks/use-store.ts
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/common/pages/sample/sample-page.tsx
  frontend/src/features/sample/components/block/header.tsx
  frontend/src/index.ts
  frontend/src/lib/http.ts
  frontend/src/main.tsx
  frontend/src/store.ts
Due: prettier, eslint

feat: #36 add alias handling via Rollup plugins and update build process
  frontend/package.json
  frontend/src/index.ts
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

feat: #36 Update the build configuration to bundle CSS files
  .pre-commit-config.yaml
  frontend/package.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

refactor: #36 consolidate and restructure CSS usage and dependencies
  frontend/package.json
  frontend/src/common/app-slice.ts
  frontend/src/common/components/atoms/text-image.tsx
  frontend/src/common/styles/components/atoms/text-image.css
  frontend/src/index.css
  frontend/src/index.ts
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

refactor: #40 Downgrade bcrypt version
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
Due: mypy, ruff, docformatter

feat: #36 Fix Tailwind CSS not applied in build
  frontend/package.json
  frontend/src/App.tsx
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

refactor: #36 remove the redundant "files" field from package.json
  frontend/package.json
Due: prettier

refactor: #36 move locale configs import to App.tsx
  frontend/src/App.tsx
  frontend/src/main.tsx
Due: prettier, eslint

refactor: #36 enhance component props for increased flexibility
  frontend/src/App.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/index.ts
  frontend/src/main.tsx
Due: prettier, eslint

refactor: #36 update package export mappings
  frontend/package.json
Due: prettier

refactor: #35 enhance settings, add modularize router loading
  .env
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/common/utility/files.py
  backend/src/one_public_api/core/extensions.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/main.py
Due: mypy, ruff, docformatter

refactor: #35 migrate from GenericModel to BaseModel (Pydantic v2)
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/routers/base_route.py
Due: mypy, ruff, docformatter

refactor: #35 enhance mixin classes
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/models/mixins/__init__.py
  backend/src/one_public_api/models/mixins/id_mixin.py
  backend/src/one_public_api/models/mixins/maintenance_mixin.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
Due: mypy, ruff, docformatter

chore: #35 adjust version number to `0.1.0-alpha`
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
Due: mypy, ruff, docformatter

refactor: #35 update user schema and enhance user service functionality
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/models/mixins/id_mixin.py
  backend/src/one_public_api/models/mixins/maintenance_mixin.py
  backend/src/one_public_api/models/mixins/password_mixin.py
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/schemas/response_schema.py
  backend/src/one_public_api/schemas/user_schema.py
  backend/src/one_public_api/services/authenticate_service.py
  backend/src/one_public_api/services/user_service.py
  manage.sh
Due: mypy, ruff, docformatter

feat: #35 hash user passwords before saving in user service
  backend/src/one_public_api/common/tools.py
  backend/src/one_public_api/services/user_service.py
Due: mypy, ruff, docformatter

refactor: #35 Enhance the data update mechanism
  backend/src/one_public_api/core/py.typed
  backend/src/one_public_api/models/mixins/timestamp_mixin.py
  backend/src/one_public_api/routers/user_router.py
  backend/src/one_public_api/services/base_service.py
  backend/src/one_public_api/services/user_service.py
Due: mypy, ruff, docformatter

refactor: #35 Adjust translations and message consistency
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/models/system/user_model.py
  backend/src/one_public_api/schemas/authenticate_schema.py
  backend/src/one_public_api/schemas/response_schema.py
  backend/src/one_public_api/schemas/user_schema.py
Due: mypy, ruff, docformatter

refactor: #35 Adjust configuration and feature models
  backend/src/one_public_api/models/system/configuration_model.py
  backend/src/one_public_api/models/system/feature_model.py
Due: mypy, ruff, docformatter

Path conditions:
  mypy: any of: \.py$
  ruff: any of: \.py$
  docformatter: any of: \.py$
  prettier: any of: \.(ts|tsx|mjs|html|json)$
  eslint: any of: \.(ts|tsx|mjs|html)$
