Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

mypy:
  name: Linting with mypy
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run mypy . --strict
  
    ''
  
    '
  language: system

ruff:
  name: Linting with ruff
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run ruff check . --fix &&
  
    poetry run ruff format .''
  
    '
  language: system

docformatter:
  name: Linting with docformatter
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run docformatter .''
  
    '
  language: system

prettier:
  name: Linting with prettier
  entry: 'bash -c ''
  
    cd frontend &&
  
    yarn exec prettier . --write''
  
    '
  language: system

eslint:
  name: Linting with eslint
  entry: 'bash -c ''
  
    cd frontend &&
  
    yarn eslint . --fix''
  
    '
  language: system

refactor: #5 Update localization files
  backend/locales/en/LC_MESSAGES/messages.po
  backend/locales/ja/LC_MESSAGES/messages.po
  backend/locales/messages.pot
Due: none

chore: #5 Update dependencies
  backend/poetry.lock
  backend/pyproject.toml
Due: none

chore: #5 Add a management shell script
  manage.sh
  scripts/functions.sh
Due: none

docs: #5 Update README of frontend
  frontend/README.md
Due: none

refactor: #5 Adjust console output messages
  manage.sh
Due: none

chore: #5 Initial Docker Compose configuration for PostgreSQL service
  docker-compose.yaml
Due: none

docs: #5 Expand README
  README.md
Due: none

chore: #5 Update pre-commit docformatter hook to use in-place formatting
  .pre-commit-config.yaml
Due: none

chore: #5 Add .gitkeep for empty migrations/versions directory
  backend/migrations/versions/.gitkeep
Due: none

chore: #5 Update style imports and Prettier configuration
  frontend/.prettierrc.yaml
  frontend/app/app.css
  frontend/app/common/styles/component.css
  frontend/app/common/styles/components/atoms/logo.css
  frontend/app/common/styles/components/atoms/spinner.css
  frontend/app/common/styles/components/atoms/text-image.css
  frontend/app/common/styles/components/modules/mode-toggle.css
  frontend/app/common/styles/error-boundary.css
  frontend/app/common/styles/pages/welcome-page.css
  frontend/app/features/sample/styles/components/block/header.css
  frontend/app/features/sample/styles/pages/index-page.css
  frontend/eslint.config.mjs
Due: prettier, eslint

refactor: #5 modified manage.sh
  backend/poetry.lock
  backend/pyproject.toml
  manage.sh
Due: none

chore: #5 Add CI workflow for linting and formatting
  .github/workflows/check.yaml
Due: none

chore: #5 Update CI to install frontend dependencies before lint check
  .github/workflows/check.yaml
Due: none

chore: #5 Remove path restrictions from CI workflow triggers
  .github/workflows/check.yaml
Due: none

chore: #5 Update CI workflow to enable Corepack and prepare Yarn
  .github/workflows/check.yaml
Due: none

chore: #5 Restrict CI workflow triggers to backend and frontend paths
  .github/workflows/check.yaml
Due: none

chore: #5 Add pull request triggers to CI workflow
  .github/workflows/check.yaml
Due: none

chore: #3 Add push, scheduled merge workflows and refactor CI triggers
  .github/workflows/check.yaml
  .github/workflows/push.yaml
  .github/workflows/scheduled-merge.yaml
Due: none

chore: #3 pass GitHub ref to the code-check job in workflows
  .github/workflows/push.yaml
  .github/workflows/scheduled-merge.yaml
Due: none

chore: #3 simplify workflows by removing unused GitHub ref input
  .github/workflows/check.yaml
  .github/workflows/push.yaml
  .github/workflows/scheduled-merge.yaml
Due: none

chore: #3 restructure workflows for code checks and CI optimizations
  .github/workflows/check.yaml
  .github/workflows/push.yaml
  .github/workflows/scheduled-merge.yaml
Due: none

chore: #3 unify workflow structure and simplify CI triggers
  .github/workflows/check.yaml
  .github/workflows/push.yaml
  .github/workflows/scheduled-merge.yaml
Due: none

chore: #3 update push triggers to target feature branches only
  .github/workflows/push.yaml
Due: none

chore: #3 comment out path filters in CI workflow triggers
  .github/workflows/push.yaml
Due: none

chore: #12 adjust scheduled merge time and refine workflow logic
  .github/workflows/scheduled-merge.yaml
Due: none

chore: #7 update dependencies to include i18next and react-i18next
  frontend/package.json
  frontend/yarn.lock
Due: prettier

chore: #7 add UI configuration variables to .env file
  .env
Due: none

chore: #7 include language configuration in app state & initialize i18n
  frontend/app/common/app-slice.ts
Due: prettier, eslint

chore: #7 implement multilingual support with i18next configuration
  frontend/app/common/constants.ts
  frontend/app/common/pages/home-page.tsx
  frontend/app/common/utils/env.ts
  frontend/app/locales/configs.ts
  frontend/app/locales/en.json
  frontend/app/locales/ja.json
  frontend/app/root.tsx
Due: prettier, eslint

feat: #7 Add the language selector component
  frontend/app/common/app-slice.ts
  frontend/app/common/components/atoms/language.tsx
  frontend/app/common/components/ui/select.tsx
  frontend/app/common/pages/home-page.tsx
  frontend/app/common/utils/env.ts
  frontend/app/locales/en.json
  frontend/app/locales/ja.json
  frontend/app/root.tsx
  frontend/package.json
  frontend/yarn.lock
Due: prettier, eslint

style: #7 update spinner styles for improved dark mode support
  frontend/app/app.css
  frontend/app/common/components/atoms/spinner.tsx
  frontend/app/common/styles/components/atoms/spinner.css
Due: prettier, eslint

fix: #17 Fix error during scheduled merge job execution
  .github/workflows/scheduled-merge.yaml
Due: none

chore: #17 include `git fetch` in scheduled-merge.yaml
  .github/workflows/scheduled-merge.yaml
Due: none

chore: #17 Update scheduled-merge.yaml
  .github/workflows/scheduled-merge.yaml
Due: none

feat: #6 Add camelCase conversion logic to the schema
  backend/src/one_public_api/common/query_param.py
  backend/src/one_public_api/common/utility/string.py
  backend/src/one_public_api/schemas/configuration_schema.py
  backend/src/one_public_api/schemas/user_schema.py
Due: mypy, ruff, docformatter

Path conditions:
  mypy: any of: \.py$
  ruff: any of: \.py$
  docformatter: any of: \.py$
  prettier: any of: \.(ts|tsx|mjs|html|json)$
  eslint: any of: \.(ts|tsx|mjs|html)$
