Repository Roba-6/one-public-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff, docformatter, prettier, eslint

mypy:
  name: Linting with mypy
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run mypy . --strict
  
    ''
  
    '
  language: system

ruff:
  name: Linting with ruff
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run ruff check . --fix &&
  
    poetry run ruff format .''
  
    '
  language: system

docformatter:
  name: Linting with docformatter
  entry: 'bash -c ''
  
    cd backend &&
  
    poetry run docformatter .''
  
    '
  language: system

prettier:
  name: Linting with prettier
  entry: 'bash -c ''
  
    cd frontend &&
  
    yarn exec prettier . --write''
  
    '
  language: system

eslint:
  name: Linting with eslint
  entry: 'bash -c ''
  
    cd frontend &&
  
    yarn eslint . --fix''
  
    '
  language: system

fix: #63 replace hardcoded background color with CSS variable for theme consistency
  frontend/src/common/components/atoms/spinner.tsx
Due: prettier, eslint

chore: #63 remove `.ts` extension from import path in `functions.ts`
  frontend/src/lib/functions.ts
Due: prettier, eslint

chore: #63 update translation files with new POT-Creation-Date timestamps
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
Due: none

chore: #63 bump version to 0.1.0-alpha.8 across backend and frontend
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

fix: #66 update `JSON_URL` setting to include leading slash in OpenAPI path
  backend/src/one_public_api/core/settings.py
Due: mypy, ruff, docformatter

chore: #66 bump a version to 0.1.0-alpha.9
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
Due: mypy, ruff, docformatter, prettier

fix: #64 validate refresh token during user authentication
  .env
  backend/src/one_public_api/services/authenticate_service.py
Due: mypy, ruff, docformatter

chore: #64 update localization files with new translations
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
Due: none

feat: #69 Adjust spinner component styles
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/common/components/atoms/spinner.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/components/ui/dialog.tsx
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/styles/atoms/spinner.css
  frontend/src/index.css
  frontend/yarn.lock
Due: prettier, eslint

feat: #69 Define a title style
  frontend/src/common/components/atoms/spinner.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/index.css
Due: prettier, eslint

feat: update logos, fonts, and styles
  .env
  .pre-commit-config.yaml
  frontend/src/assets/fonts/DESIGNER.otf
  frontend/src/assets/fonts/MADE-TOMMY-Medium_PERSONAL-USE.otf
  frontend/src/assets/fonts/MADE-TOMMY-Thin_PERSONAL-USE.otf
  frontend/src/assets/fonts/SenseFont1.0-Regular.ttf
  frontend/src/assets/fonts/rounded-x-mplus-2m-light.ttf
  frontend/src/assets/fonts/rounded-x-mplus-2m-medium.ttf
  frontend/src/assets/logo-dark.png
  frontend/src/assets/logo-dark.svg
  frontend/src/assets/logo-light.png
  frontend/src/assets/logo-light.svg
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/index.css
Due: prettier, eslint

chore: enable pre-commit hook for checking large files
  .pre-commit-config.yaml
Due: none

feat: #69 refine responsive styles for Logo component
  frontend/src/common/components/atoms/logo.tsx
Due: prettier, eslint

feat: #69 update logo alt text and integrate new font file
  frontend/src/assets/fonts/MADE-TOMMY-Regular_PERSONAL-USE.otf
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/index.css
Due: prettier, eslint

feat: #69 update application name casing in init data definition
  backend/src/one_public_api/common/init_data.py
Due: mypy, ruff, docformatter

chore: #69 update logo assets with improved designs
  frontend/public/favicon.ico
  frontend/src/assets/logo-dark.svg
  frontend/src/assets/logo-light.svg
  frontend/src/assets/roba-small.png
Due: none

chore: #69 standardize application name casing in init data
  backend/src/one_public_api/common/init_data.py
Due: mypy, ruff, docformatter

feat: #69 Adjust the layout of the website's homepage
  .env
  frontend/package.json
  frontend/src/common/components/atoms/language.tsx
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/index.css
  frontend/yarn.lock
Due: prettier, eslint

chore: #69 move `.fade-out` styles to `index.css` and remove `spinner.css`
  frontend/src/common/styles/atoms/spinner.css
  frontend/src/index.css
Due: none

chore: #69 make `Configuration.value` nullable and remove default init data values
  backend/src/one_public_api/common/init_data.py
  backend/src/one_public_api/models/system/configuration_model.py
Due: mypy, ruff, docformatter

chore: #69 update localization files
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
Due: none

feat: #69 Adjust the homepage components
  frontend/src/common/app-slice.ts
  frontend/src/common/components/atoms/logo.tsx
  frontend/src/common/components/modules/footer.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/constants.ts
  frontend/src/common/pages/admin/login-page.tsx
  frontend/src/common/pages/home-page.tsx
  frontend/src/index.css
Due: prettier, eslint

feat: #69 Make super admin configurable via environment file
  .env
  backend/src/one_public_api/common/init_data.py
  backend/src/one_public_api/common/utility/search.py
  backend/src/one_public_api/core/extensions.py
  backend/src/one_public_api/core/settings.py
  backend/src/one_public_api/main.py
  frontend/index.html
  frontend/src/common/app-slice.ts
Due: mypy, ruff, docformatter, prettier, eslint

chore: #69 simplify init data formatting and update admin email configuration
  .env
  backend/src/one_public_api/common/init_data.py
  backend/src/one_public_api/core/settings.py
Due: mypy, ruff, docformatter

chore: #69 update logo component styles for better consistency
  frontend/src/common/components/atoms/logo.tsx
Due: prettier, eslint

chore: #69 bump a version to 0.1.0-alpha.10
  backend/pyproject.toml
  backend/src/one_public_api/common/constants.py
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/en/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/ja/LC_MESSAGES/messages.po
  backend/src/one_public_api/locales/messages.pot
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.mo
  backend/src/one_public_api/locales/zh/LC_MESSAGES/messages.po
  frontend/package.json
  frontend/yarn.lock
Due: mypy, ruff, docformatter, prettier

refactor: #69 Clean up .env
  .env
  backend/src/one_public_api/core/settings.py
Due: mypy, ruff, docformatter

refactor: #69 update px spacing classes in homepage for small screens
  frontend/src/common/pages/home-page.tsx
Due: prettier, eslint

feat: #69 make admin page URL configurable via env
  .env
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/data-tool-bar.tsx
  frontend/src/common/components/modules/login-form.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/pages/users/edit-page.tsx
  frontend/src/common/pages/users/list-page.tsx
  frontend/src/common/pages/welcome-page.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint

refactor: #69 adjust app-sidebar component
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/index.css
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
Due: prettier, eslint

test: #70 add unit tests for `to_camel` function in `str` utility
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/one_public_api/common/utility/str.py
  backend/tests/__init__.py
  backend/tests/one_public_api/__init__.py
  backend/tests/one_public_api/common/__init__.py
  backend/tests/one_public_api/common/utility/__init__.py
  backend/tests/one_public_api/common/utility/test_str.py
Due: mypy, ruff, docformatter

chore: #70 add `coverage` as a dev dependency in `pyproject.toml`
  backend/poetry.lock
  backend/pyproject.toml
Due: none

test: #70 add test process for backend in `manage.sh`
  manage.sh
Due: none

feat: #69 allow the side menu to be provided from the consuming side
  frontend/src/App.tsx
  frontend/src/common/app-slice.ts
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/templates/menu.tsx
Due: prettier, eslint

refactor: #69 update menu structure
  frontend/src/common/app-slice.ts
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/templates/menu.tsx
Due: prettier, eslint

feat: #69 Add automatic menu-opening behavior
  frontend/eslint.config.ts
  frontend/src/common/app-slice.ts
  frontend/src/common/components/atoms/side-menu.tsx
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/hooks/use-current-url.ts
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/index.css
Due: prettier, eslint

feat: #69 Create a breadcrumb feature
  frontend/eslint.config.ts
  frontend/package.json
  frontend/src/common/app-slice.ts
  frontend/src/common/components/atoms/side-menu.tsx
  frontend/src/common/components/modules/app-sidebar.tsx
  frontend/src/common/components/modules/breadcrumb-bar.tsx
  frontend/src/common/components/ui/breadcrumb.tsx
  frontend/src/common/pages/admin/admin-page.tsx
  frontend/src/common/types/data.d.ts
  frontend/src/lib/utils.ts
  frontend/src/locales/en.json
  frontend/src/locales/ja.json
  frontend/src/locales/zh.json
  frontend/src/templates/menu.tsx
  frontend/yarn.lock
Due: prettier, eslint

refactor: #69 Refactored the DataList component
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/pages/users/list-page.tsx
  frontend/src/common/types/props.d.ts
Due: prettier, eslint

refactor: #69 Split User components and consolidate forms into reusable modules
  frontend/src/common/components/modules/data-list.tsx
  frontend/src/common/components/modules/edit-form.tsx
  frontend/src/common/components/modules/router.tsx
  frontend/src/common/hooks/use-current-url.ts
  frontend/src/features/users/edit-page.tsx
  frontend/src/features/users/list-page.tsx
  frontend/src/features/users/types/test-type.d.ts
Due: prettier, eslint

Path conditions:
  mypy: any of: \.py$
  ruff: any of: \.py$
  docformatter: any of: \.py$
  prettier: any of: \.(ts|tsx|mjs|html|json)$
  eslint: any of: \.(ts|tsx|mjs|html)$
